[2018-01-30 22:28] admataz opened #1 "LNUG #70 - 28th Feb 2018"
Hi all @lnug/organisers and @lnug/contributors

A lot of new contributors have recently volunteered to contribute and help - so I'm opening up the planning of events so you can all see how we plan things and hopefully get involved with some of the monthly tasks and beyond.

so... who's going  to be around to help for February?

Please pick a task or two or three for our next meetup and add your na

[2018-02-07 08:44] domfarnham commented on #1
Hi Adam,

I can help you with some of this. How do you normally approach the find speakers task? I assume you contact people who have submitted talks to the speakers repo. What do you usually do when you are short and need to find speakers? Do you use social media, is there a list of contacts you approach?

I can also help with making arrangements with Makers, Pusher, etc but will need there conta

[2018-02-10 10:51] thanpolas commented on #1
I confirm my speaking engagement, I can make arrangements with vendors or any other logistics you might need, just intro me and give me the goal.

[2018-02-12 11:48] admataz commented on #1
hi @domfarnham  and @thanpolas  - thanks for the offers of help - I need to get a few guides to tasks in place to help out - watch this space...  Meanwhile if you are planning to be there on the night - any help with the practical side (@thanpolas you will be busy!)

Meanwhile in answer to your questions about finding future speakers - we rely very much on speakers coming forward with proposals -

[2018-02-15 21:17] orliesaurus commented on #1
For the monthly email through MailChimp - what and where do you get the "community" info from?

[2018-02-15 21:39] admataz commented on #1
Hi,
It's been a while since I've done it - in the past I've gathered info
from round and about and people who've sent me info about events on
meetups etc -  - and also created an issue on github for people to add
their events/news etc. eg: https://github.com/lnug/feedback/issues/104

A couple events we are supporting with spreading the word...

https://reactfest.com
http://cityjsconf.org
https://a

[2018-02-20 04:10] orliesaurus commented on #1
@admataz Who are the sponsors? I got MakersAcedemy Tiropartners and Pusher - Newsletter is ready to be shipped

[2018-02-20 08:48] admataz commented on #1
looks good! Sponsors are right... thank-you - you can send when you're ready

[2018-02-20 16:15] admataz commented on #1
I've added a todo for the night - we have a ticket to raffle for http://cityjsconf.org

[2018-02-20 16:37] clarkie commented on #1
@admataz Apologies for the lack of chat, but I think I agreed to MC this event? I'll get on and confirm the speakers, venue and film crew later.

[2018-02-20 21:33] clarkie commented on #1
@admataz Have you done the ~pizza~ beer order for the last couple of events or has Makers been doing it?

- edit: I meant beer, not pizza

[2018-02-20 21:36] clarkie commented on #1
@admataz who's our contact at Pusher? Do we go straight to Alex these days?

[2018-02-20 23:31] admataz commented on #1
thanks @clarkie  - yes I've been ordering beer - will do again this month - I have it all set up on Ocado already.

have cc'd you into the emails from Alex

[2018-02-21 09:55] claireinez commented on #1
I'll be there next week and will do what I do best, i.e. trawl Twitter.

Let me know if there's anything else I can do on the night. See y'all soon! 🙋

[2018-02-21 10:03] clarkie commented on #1
Nice one, thanks @lazlojuly, @claudiamatosa and @claireinez.

[2018-02-22 00:32] orliesaurus commented on #1
Email scheduled for Thursday morning - 🚢 🚢 :shipit:

[2018-02-22 08:02] clarkie commented on #1
@orliesaurus nice one, thanks!

[2018-02-22 10:41] MattJLeach commented on #1
I'll be there as well @clarkie and ready to help out

[2018-02-26 12:43] admataz commented on #1
pizza ordered. beer ordered. 🍺 🍕

[2018-02-26 12:46] admataz commented on #1
@clarkie please  remember to allow 15 mins for Aris from city js conf to say a few words. we will also be raffling a ticket from them.

[2018-02-26 16:53] clarkie commented on #1
@admataz any word from Makers? What about Tiro?

Also, can you push the slides you used for last month's event?

[2018-02-26 17:03] admataz commented on #1
@clarkie  - https://github.com/lnug/slides/pull/5

Haven't heard from Makers or Tiro  - will follow up

[2018-02-26 17:31] clarkie commented on #1
@admataz Nice one, thanks

[2018-02-27 08:07] clarkie commented on #1
@admataz you've done a cracking job of making the slides as easy as possible! https://github.com/lnug/slides/pull/6

👍 👍 👍 👍 👍 👍 👍 👍

Who remembers `Deck`? 😱

[2018-02-27 08:09] clarkie commented on #1
One question for the group... We've only got two talks this month and one of them is potentially at risk due to the snow ⛄️so I wondered if we should advertise that we'll be opening up some lightening talk spaces?

[2018-02-27 08:22] clarkie commented on #1
I've emailed Adam Turnbull at Makers again but we haven't had any confirmation that we're all ok for tomorrow night yet. 😟

[2018-02-27 09:52] claireinez commented on #1
I do but I wish I didn't.

[2018-02-28 16:04] orliesaurus commented on #1
I don't - good job everyone!

[2018-03-01 08:01] clarkie commented on #1
Thanks everyone for your help last night! 👍

[2018-03-01 08:01] clarkie commented on #1
@elischutze @claireinez do we have a couple of winners for the tickets?

[2018-03-01 15:53] claireinez commented on #1
My votes are for https://twitter.com/AliceSuckling/status/968939166879879169 and https://twitter.com/Samatar267/status/968954220459233287

I do wonder why we had so few entries this time, any idea? Does the requirement of the tweet having to be funny stress people out enough not to enter?

[2018-03-03 10:36] clarkie opened #2 "Nodeschool 2018"
I'm hoping to organise a nodeschool.io event in an evening in the first week of April. I've already roped in a few volunteers to help out but if anyone else is interested in getting involved then jump on board and get involved.

A list of bits and pieces that we'll need to get sorted

- [ ] Date / time tbc
- [ ] Venue tbc
- [ ] Mentors
- [ ] Advertising the event - we can use the LNUG meetup to cr

[2018-03-03 15:21] admataz commented on #2
Hey @clarkie  - sounds great!  I'll be out of town for the first 2 weeks of April - so won't be available to help on the day - but happy to help in the run-up where I can.

[2018-03-03 17:32] admataz commented on #1
Thanks @claireinez  - yes those were my favourites too - I'll contact them

Yeah - not sure about the tweet methods - maybe we can discuss other ways of getting people involved for next time.

[2018-03-06 11:29] admataz opened #3 "LNUG #71 - March 2018"
Hello @lnug/organisers and @lnug/contributors

We have an amazing lineup of speakers for later this month... Get involved!

Please have a read if the docs at https://github.com/lnug/event-planning  - and ask here in the comments if you have any ideas or questions.

# Checklist (pick a task!)
## Pre Event
- [x] Find/ confirm speakers! and add them as contributors to github  @admataz
- [ ] Who will

[2018-03-06 12:41] nikcorg commented on #2
My calendar is still quite empty in April, so I'd be very happy to chip in as a mentor and bang on about the event on SoMe.

[2018-03-14 04:58] orliesaurus commented on #3
MailChimp ready & ticked off

[2018-03-14 10:23] admataz commented on #3
Thank you @orliesaurus  - I've edited to update the sponsors  - more info on that coming - but Tiro are bowing out, and we have new partners lined up and in discussion - which I will run past organisers.

[2018-03-14 10:26] admataz commented on #3
![screen shot 2018-03-14 at 10 25 46](https://user-images.githubusercontent.com/395101/37396886-1b0abc22-2772-11e8-9e29-19982bf4c07c.png)

[2018-03-17 11:08] admataz opened #4 "Organisers' guide to accepting talks"
It would be good to have some clear criteria around accepting talks, and the details that should be covered off with speakers when agreeing to a talk.

Some things that can be included:
- confirming the length of the talk
- confirming the adherence to Code of Conduct
- helping shape the talk so that it's relevant
- helping review slides/talk contents so it's the best possible from the speaker
- ge

[2018-03-17 11:10] admataz opened #5 "Guide for MCs"
It would be good to put our collective experiences together into a guide for the meetup MC - so things can run smoothly and all important issues are covered.

For starters:

- [x] time management - how to keep the talks running on time
- [ ] Code of Conduct - how to get
- [x] Slides - where to find them - how to prepare them

Please add to the list

[2018-03-17 11:12] admataz opened #6 "Supporting new speakers (migrated from planning)"
Bringing the threads together from
https://github.com/lnug/feedback/issues/92#issuecomment-172867184
where we talk about supporting new speakers

And this point in the meeting notes: #89

the task:
- [ ] Write something that can be communicated in the [Speakers README](https://github.com/lnug/speakers/blob/master/README.md), at meetups and in the newsletter that explains how LNUG can support speak

[2018-03-26 20:32] admataz commented on #3
@lnug/organisers @lnug/contributors  - we meet on Wednesday...  who of you will be with us to help?

[2018-03-26 20:36] FabioAntunes commented on #3
I will be there

On Mon, 26 Mar 2018, 21:32 Adam Davis, <notifications@github.com> wrote:

[2018-03-26 20:39] domfarnham commented on #3
I cannot make this one unfortunately. Parents evening this week.

Enjoy.

Dom

[2018-03-27 15:31] thanpolas commented on #3
@admataz I can come, time and place?

[2018-03-27 15:55] claireinez commented on #3
I'll be there! I've put my name against Twitter, as per usual. Also happy to receive pizzas but only if it doesn't involve putting my phone number on the door downstairs!

@thanpolas it's at the same place as last month, Makers Academy on Commercial Street. Doors open at 6.30pm 😃

[2018-03-27 16:11] admataz commented on #3
Anyone here with good Sound Skillzz ? Getting the balance right on the mics is a challenge every month - and it would be great if someone can take it on as a task for the evening to adjust the settings to keep the feedback squeaks down as the evening progresses.

[2018-04-08 06:29] admataz opened #7 "LNUG #72 - April 2018"
Hello @lnug/organisers and @lnug/contributors

April's meetup is shaping up with a couple of good talks for the 25th. And  this is the month we have plans to try out a new venue this month with Conde Nast.

Here is the checklist for this month - please choose a task  - some of these will be covered by the new arrangements with the venue.

Please have a read if the docs at https://github.com/lnug/e

[2018-04-08 12:17] leggsimon commented on #7
I'm curious, has it been well communicated that there is a venue change this month? It's been hosted at MA for the best part of 2 years right? I'd be worried that if it isn't well communicated then we might get some people just naturally turn up at MA.

[2018-04-09 06:00] admataz commented on #7
thanks @leggsimon. you are right.  it hasn’t been communicated and maybe we should add an extra task here to make a big deal of the venue change and some extra tweets and mentions in the newsletter. that said, the new venue arrangements aren’t actually finalised - i should get some clarity in th next day on a few of the questions i had about conde nast’s requirements and we can take it from there.

[2018-04-16 13:56] orliesaurus commented on #7
What conde nast's address?
Can someone create the meetup on meetup.com?

[2018-04-16 14:02] admataz commented on #7
Hi @orliesaurus  - I'm back from holiday today and busy doing that right now - will update here when it's done

[2018-04-16 14:09] orliesaurus commented on #7
@admataz - cool glad you're back!
I think I found the conde nast address:
1-11 John Adam St, WC2N 6HT

Re the event:
Did Michelle answer your important email? I was reading the thread, and it seems like we need an answer before movin forward

Speak soon !!

[2018-04-16 14:12] orliesaurus commented on #7
and one mroe thing, I see two talks for March, one is defo happening, one is a reschedule attempt and one is from an out of town person - do we need a third talk/do we have a third talk?

[2018-04-16 14:29] admataz commented on #7
@orliesaurus  - yes I just posted Michelle's reply to the thread. I think we're good to go with the venue change (I've not had objections). There are a couple practicalities to sort out.

Regarding the lineup - I'm trying to swap the speakers to accommodate an out of town speaker. We are trying a shift to 2 speakers (this was discussed when we met as organisers in January) - it's happened a few ti

[2018-04-16 14:39] orliesaurus commented on #7
gotcha! i didnt know that haha thanks for sharing

[2018-04-16 15:59] dscape commented on #7
@orliesaurus It's called the Adelphi building. You will need to provide names for security, so I recommend you add everyone that might attend to simplify your life and probably designate someone to be downstairs! Hope this helps

[2018-04-16 16:06] admataz commented on #7
Thanks @dscape  - yes we need full names for the door - and we are trying to keep the hassle around security to a minimum, Michelle from Condé Nast has agreed to help with keeping this smooth as possible and we will have someone downstairs with security till the talks start to ensure people can get in.

[2018-04-16 16:26] FabioAntunes commented on #7
There's an option on meetup, whenever someone rsvp's we can ask for their full name. @admataz do people usually just show on the venue, or do they also rsvp?

[2018-04-16 20:35] admataz commented on #7
Thanks @FabioAntunes - on the whole people RSVP when they are coming - but we've been fairly relaxed about checking people in on the door at Makers.

And yes - we actually already use that extra field to ask people for their github handle if they want to join as contributors - but we have repurposed it for this month to be full name.

[2018-04-16 20:37] clarkie commented on #7
I'm away on holiday for the next couple of weeks so I'm going to miss this months event but as I'm just chilling, coding and surfing in Portugal I'm happy to help with remote logistics if helpful?

[2018-04-16 21:07] admataz commented on #7
@clarkie sounds amazing 🏄 - I'm just back from a sun and sand and beach holiday taking the kids to their grandparents and I've hit the ground running now that I'm back in London. Will let you know if there's anything you can do to help - thanks!

[2018-04-17 23:38] orliesaurus commented on #7
@dscape good heads up, let's hope everything goes smoothly, I was simply asking because I think we should let people know in advance via email!

[2018-04-22 20:26] #3 closed, assigned to nobody

[2018-04-22 20:26] #1 closed, assigned to nobody

[2018-04-22 20:28] admataz commented on #2
guess we all got too busy in April? - let's definitely organise something for May or June. From the chat I had with Makers - they would be keen to host

[2018-04-23 21:00] admataz commented on #7
@lnug/contributors - please let me know who's coming to the meetup to help on Wednesday?

Everything looks good to go.

Remember - we are at a new venue - please be sure you are on the meetup attendees list (let me know if you're not - we need you name on the door)

The new venue is:
Conde Nast
Adelphi Building, 1-10 John Adam St Level 9 · London
The nearest Tube stations are Embankment and Charin

[2018-04-24 07:48] leggsimon commented on #7
I'll be there if you need a hand?

[2018-04-24 08:17] claudiamatosa commented on #7
^ me too

[2018-04-24 11:13] claireinez commented on #7
I'll be there but only after 6.30. I'm so excited for the new venue!

[2018-04-24 15:50] elischutze commented on #7
I'm still out of town, bummed to be missing the new venue! Take lots of pics

On Tue, Apr 24, 2018 at 1:14 PM Claire Mitchell <notifications@github.com>
wrote:

[2018-04-24 16:02] FabioAntunes commented on #7
I will be there.

On Tue, 24 Apr 2018, 16:50 Eli Schutze, <notifications@github.com> wrote:

[2018-04-25 09:02] admataz commented on #7
Thanks @leggsimon @claudiamatosa @claireinez @FabioAntunes  - that's great - see you later! It being a new venue, I'm not sure how things will shape up - but if you can be on hand to help things run smoothly.

@elischutze :( see you next month

[2018-04-25 11:03] MattJLeach commented on #7
Hi @admataz I'll be there as well tonight. Would it be possible to send a reminder to update RSVP if people can't go as I have a friend on the waitlist who really wants to attend for the first time?

[2018-04-25 11:27] admataz commented on #7
hi @MattJLeach  - I sent a reminder to attendees earlier this morning - how far down the list is your friend?

[2018-04-27 19:19] orliesaurus commented on #7
Another good event ! good job everybody! 🙀

[2018-05-03 15:39] admataz opened #8 "LNUG #73 - 23rd May 2018"
Hello @lnug/organisers and @lnug/contributors

We are back at Condé Nast on 23rd May.

So far one talk confirmed - a couple others in the pipeline - let us know if there are any of you that want to tell a story.

Here is the checklist for this month -  choose a task and put your name to it.  or add any you think are needed - some of these will be covered by the arrangements with the venue.

Please

[2018-05-03 15:42] admataz commented on #7
Thanks all for your contributions last week - get involved for this month on 23rd May: https://github.com/lnug/event-planning/issues/8

[2018-05-03 15:42] #7 closed, assigned to nobody

[2018-05-03 15:48] FabioAntunes commented on #8
Count me in, I will help setting things up (beers and pizzas) and eventually anything else.

[2018-05-14 11:08] claireinez commented on #8
I think I said I'd emcee this month! Which means I won't be able to tweet so someone else will have to do that this month plzzzz

[2018-05-14 11:10] FabioAntunes commented on #8
I don't mind handling twitter 🐦

[2018-05-14 12:31] sielay commented on #8
@admataz I need to confirm if I can make it, but I can have some lightning talk about using JSX (in NodeJS of course) to describe infrastructure of DevOps tasks (as a concept and working POC) https://github.com/react-ops/react-ops. What you think about it. It's too early for full talk about it.

[2018-05-14 13:15] admataz commented on #8
@claireinez  - great!  Let me know if you need anything from me. I'm busy finalising the speakers  - will confirm when that's done

@FabioAntunes  - that's brilliant thank you.

Hey @sielay  - it sounds like an awesome mad science idea  - perfect for a lightning talk - is 5mins enough time?  @claireinez is our emcee this month so best to coordinate with her around timing.

[2018-05-14 13:51] sielay commented on #8
@admataz will be a max 5 minutes, will try to prepare a more devopsy example.

[2018-05-15 10:36] FabioAntunes commented on #8
@admataz one thing that I noticed is that there's no meetup event created yet, should we be creating one? Should we consider next time, create the event earlier but only open the rsvp next to the date?

[2018-05-15 11:17] admataz commented on #8
Thanks @FabioAntunes  - it was on my list, but kept getting de-prioritised. Done now.

[2018-05-15 12:41] elischutze commented on #8
I'd recommend removing the Meetup option to "bring guests" in your RSVP so
that everyone has to sign up and input their Name + Surname individually

On Tue, May 15, 2018 at 12:17 PM Adam Davis <notifications@github.com>
wrote:

[2018-05-15 14:55] admataz commented on #8
Thanks @elischutze  - quite right... I switched it off.

[2018-05-18 08:43] sielay commented on #8
@admataz did anyone spoke already about using AWSMobile as a replacement for `serverless` or `up`? If not I can add briefly to my ⚡️ talk as it is somehow related. Still 5 minutes, not more.

[2018-05-21 06:34] arakno commented on #8
I'll take care of receiving Pizza
Food & Drink Area Maintenance.

Cheers

On Fri, 18 May 2018, 09:43 Łukasz Marek Sielski, <notifications@github.com>
wrote:

--

<webdeveloper>
    Name:  Paulo Basto
    Email:  pbasto@arakno.net
    Web:    www.arakno.net
    Twitter: @arakno
    Skype:  arakno.net
    Mobile: [+44] (0)7404597489
</webdeveloper>

[2018-05-21 08:06] admataz commented on #8
@sielay  - no I don't recall anything about AWSMobile specifically - sounds good

@arakno  - great! thank you

[2018-05-21 08:07] admataz commented on #8
@lnug/contributors  -  who else will be there on Wednesday?

[2018-05-21 22:57] orliesaurus commented on #8
Newsletter ready to be sent - https://us8.admin.mailchimp.com/campaigns/edit?id=2733005
Your email has been scheduled.
Your campaign will be sent on 22/5/18 9:30AM.

[2018-05-22 08:27] clarkie commented on #8
I've managed to get my hands on a number of diversity sponsored tickets for ServerlessDays here in London (currently 8 remaining). These are kindly donated by https://twitter.com/mattjbatchelor

He's happy for us to advertise their availability.

The brief:
-----
If you're interested in learning more about Serverless and are based anywhere near London, then there are tickets available:

When: 6th

[2018-05-22 08:28] clarkie commented on #8
I'll be there tomorrow night too. I'll help with Twitter and stuff

[2018-05-22 20:49] admataz commented on #8
@clarkie - great! Thanks. can you coordinate with @claireinez around any info and ticket giveaways?

[2018-05-22 21:24] claireinez commented on #8
Yep, Clarkie and I have chatted about the tickets :)

@sielay I'll chat to you tomorrow too. I think it will be best to put your lightning talk in the middle of the two other talks.

[2018-05-23 09:19] sielay commented on #8
@claireinez will grab you. I think you're right. Presentation is here https://react-ops.github.io/presentation (but will take my mac) and I'll storm through it to match in 5 minutes rather than discuss it.

I'll steal 30 seconds afterwards to announce my August 500miles in 5 days cycling and ask for:
 * people from the community who/who's families are in need and can benefit from fundraising OR di

[2018-05-23 13:42] claireinez commented on #8
@admataz should we close meetup registrations once the names have been sent to Conde Nast? There were a few issues with people not on the list turning up last month.

[2018-05-23 13:44] admataz commented on #8
yes - I've closed it for that reason -

[2018-05-23 15:20] clarkie commented on #8
Do we send the names of the people on the waitlist too?

[2018-05-23 15:22] admataz commented on #8
@clarkie  - there's no strict policy.... I'm trying to work it out - but this month and last I have, yes as there weren't that many and I think we can afford it space wise

[2018-05-23 15:27] admataz commented on #8
just to clarify  - I moved everyone that was on the waitlist into the `attending` list on meetup before exporting and sending to Michelle - so they will have been notified that they are able to attend

[2018-05-24 10:41] claireinez commented on #8
Just for the record, Michelle would prefer if we do always send the names from the waiting list (if we end up with so many people that we can't just add them to "Attending" like we did this month).

@admataz had a good idea that we trialled for job announcements last night, where we only get the people who are looking for jobs to intro themselves, and get everyone hiring to raise their hands and m

[2018-05-24 10:50] sielay commented on #8
There were few people who asked about the ability to do some `training jobs`. I suggested they just ask for a job. Maybe it's worth to encourage people more to say they are free, maybe not only for job but also internship etc.

[2018-05-24 11:07] claireinez commented on #8
@sielay I don't quite understand what you mean. Are you saying we should change the wording from "looking for a job" to encourage anyone who's available for any level of coding? If so, I'm all for anything that makes tech more inclusive!

[2018-05-24 11:14] claireinez opened #9 "Ticket giveaways"
We've often been given free tickets to events and conferences to distribute to our attendees. Usually we do some sort of twitter competition but one of the recent competitions had poor numbers (I think there were three entries for two tickets, and one was from a recruiter) -- this might have had something to do with us asking for a pun and people didn't feel comfortable about it.

Last night it wa

[2018-05-24 11:30] sielay commented on #8
Yep. I had the impression there were more people but bit afraid to step out (sorry for an unclear message, wrote it in a hurry). It's about level, but also about form (maybe some contractors don't see themselves as hires). I met a guy who said: I learned a bit of node and did some projects, before that I worked in Ruby, but I consider myself junior and want to learn. He felt a bit too junior to st

[2018-05-24 19:38] orliesaurus commented on #8
Unpaid internships are illegal AFAIK? so be careful about the phrasing

[2018-05-25 09:19] claireinez commented on #8
Yep great point @orliesaurus, that's where my misunderstanding came from, the word "free".

[2018-05-25 11:47] sielay commented on #8
@claireinez @orliesaurus sorry for that. What I meant I was approached by someone offering doing something for `free`. I said `don't do it for free`.

[2018-06-11 21:24] admataz opened #10 "LNUG #74 - 27th June 2018"
Hello @lnug/organisers and @lnug/contributors

We are back at Condé Nast on 27th June.

Here is the checklist for this month -  choose a task and put your name to it.  or add any you think are needed - some of these will be covered by the arrangements with the venue.

Please have a read if the docs at https://github.com/lnug/event-planning  - and ask here in the comments if you have any ideas or q

[2018-06-11 21:25] admataz commented on #8
moving on...

[2018-06-11 21:25] #8 closed, assigned to nobody

[2018-06-24 22:17] orliesaurus commented on #10
Mail's going out in the morning (albeit there's a waiting list already...lol)

[2018-06-26 08:58] admataz commented on #10
@lnug/organisers @lnug/contributors
Hey everyone it's LNUG tomorrow! We have great talks lined up...  and another full house

Who's going to be there to help? Looking forward to seeing you there.

[2018-06-26 09:05] FabioAntunes commented on #10
I am! But forgot to rsvp on time so I'm on the waiting list 😅

On Tue, 26 Jun 2018, 09:58 Adam Davis, <notifications@github.com> wrote:

[2018-06-26 09:21] MattJLeach commented on #10
I'll be there @admataz and ready to help out with whatever is needed

[2018-06-26 09:42] admataz commented on #10
@FabioAntunes  - I saw that and added you to the "going" list - see you there!

[2018-07-01 10:29] admataz opened #11 "LNUG #75 - July 25th 2018"
Hello @lnug/contributors  and @lnug/organisers !

I am going to be  out of London for the next two months meetup dates  - so please can someone take ownership here - we have the schedule lined up for July and I've created the meetup page and updated the website. We need an MC and someone to look after things.

For August we have one potential speaker - and space for another - I'll leave it to you.

[2018-07-02 09:12] sielay commented on #11
So far just asking (need to check) - is there anything like pizza/beer that I could ask my current company to sponsor or we are fine? @lnug/organisers ?

[2018-07-12 10:46] sielay commented on #11
^ up @admataz

[2018-07-13 11:35] claireinez commented on #11
For pizza, I think nearForm has us covered. Conde Nast provide drinks and meals for those with special dietary requirements.

[2018-07-13 11:42] sielay commented on #11
If anything pops in mind please shout as I may have a budget. @claireinez

[2018-07-17 21:18] admataz commented on #10
I have the videos from Alex and will upload tomorrow

[2018-07-17 21:18] #10 closed, assigned to nobody

[2018-07-17 21:20] admataz commented on #11
Hi @sielay, @claireinez   - thanks for that - sorry for my late reply. Yes we are covered for the moment - will keep it in mind though...

[2018-07-17 21:26] admataz commented on #11
@lnug/contributors @lnug/organisers :

*Big nudge. MC required! We meet next week! *

I will be away until September we need an emcee and someone to take responsibility for running the meetup next week. I can arrange pizza and beer delivery as normal - but the rest is up to you.

Who's up for it?

[2018-07-19 23:49] FabioAntunes commented on #11
I'm up for mcing next meetup and August, if no one is available.

[2018-07-20 09:52] admataz commented on #11
@FabioAntunes  - that's great thank you - you're on for next week! (and August if you like... and things come together for that)

As MC - you run the show - so key is making sure you fit everything in to the time available and coordinate with speakers/venue host and videographer on the night. It's all pretty fun and easy. let me know if you have any questions - I'll be around in London till Tuesda

[2018-07-23 10:27] sielay commented on #11
@claireinez @FabioAntunes can I jump on the mic with "a short code tip"? I saw in the past there was only one proper presentation about RXJS and I have [a funky issue](https://stackoverflow.com/questions/47444581/rx-react-setstate-avoid-cannot-update-during-an-existing-state-transition?noredirect=1#comment89267789_47444581) that most people I interview don't know about. It would take 2-3 minutes t

[2018-07-23 11:33] claireinez commented on #11
I'm happy to be point person for chatting to Condé going forward as I chat to Michelle all the time anyway 😂 I'll send over the attendee list to her tomorrow.

Does anyone have access to the lnug email and mailchimp accounts to send out emails? @MattJLeach maybe?

@sielay those talks could be fit into the community announcements portion of the evening but that's up to @FabioAntunes as emcee!

[2018-07-23 11:49] trevorah commented on #11
Is there anything I can help with on the night?

[2018-07-23 11:50] admataz commented on #11
Thank you @claireinez  - I usually leave the meetup list open till about 2pm on Wednsday as a lot of people change their minds up to that point - and it allows waitlisters to get confirmation. (Although I often just add them to 'attending' at the last minute anyway because it's usually about 10-15 people at that point). Can you send me (DM twitter or email if you prefer) your email address and I'l

[2018-07-23 11:52] MattJLeach commented on #11
Hi @claireinez - Sorry I don't have access to the LNUG email or mailchimp. I am happy to take over the email each month though if it helps out.

@admataz - If you want to me take over the monthly emailing, let me know and sort out access, I'll be more than happy to take it off your hands

[2018-07-23 11:54] admataz commented on #11
fwiw - I don't think the mailchimp mailer os crucial right now - we are at capacity (+ several on the waitlist) for the meetup - but I do like the idea of keeping it going as a source of LNUG news

Thanks @MattJLeach  - I'll add you to the account too - and if we can all agree between us who is doing it from month to month - @orliesaurus  has kindly been doing it remotely for us from Dallas or som

[2018-07-23 12:02] trevorah commented on #11
@admataz I can do `Food & Drink Area Maintenance` and pick up whatever else the evening throws at us.

[2018-07-23 12:09] admataz commented on #11
@claireinez - another thing about the list -  please be sure that the speakers are on the list for Condé - and also the camera person. Alex tells me it will be `Max Thurlow` and he'll be there from about 6:15pm

[2018-07-23 13:05] MattJLeach commented on #11
@admataz - I've got the invite and just joined the mailchimp account. I'll have a proper look at it tonight when I get in from work. If it helps I don't mind just taking it over completely if @orliesaurus doesn't want to anymore. It'll save trying to figure out who's doing it each month. Just let me know what you think.

Also, are we still adding anyone on the waitlist onto the list for CondeNast

[2018-07-23 13:14] FabioAntunes commented on #11
Hey @sielay I have no problem with you doing that, my only concern is that is a very specific edge case about RxJS and React not entirely sure how that would be relevant to our attendees who don't have a background on those technologies.

I guess this would be a really great flash talk for one of our themed events in the future, possibly about RxJS.

If you are really keen in still doing I can squ

[2018-07-23 13:20] sielay commented on #11
@FabioAntunes ok, so let's park it for an event we'd do about RX or about async stuff. I can do edge cases of RXJS on bigger architectures. Will just shout about charity, especially since I need to complain a bit (so a* stole my bike yesterday and I will have to walk instead). So 1minute while announcements. Do you need help with anything else?

[2018-07-23 15:21] claireinez commented on #11
@MattJLeach Condé want the names of people on the waiting list too (in case any of them turn up) so as long as your friends are on the waiting list, they can get in.

[2018-07-23 21:00] MattJLeach commented on #11
That's great @claireinez thanks

[2018-07-23 21:26] MattJLeach commented on #11
@admataz - I have just sent a test email to you from mailchimp. Could you check it and if all's OK I'll send it out to the mailing list. I just want to double check as it's my first time doing it.

[2018-07-23 23:03] admataz commented on #11
thanks @MattJLeach  - I've forwarded it on to you  - small tweak needed to RSVP url - otherwise looks fine

[2018-07-24 08:55] MattJLeach commented on #11
Thanks @admataz I'll let that fixed and sent out shortly. FYI I clicked on the link on the LNUG website to get the URL and it goes to the ti.to link for August 2015. Could we get this fixed as new people might not know to find us on meetup.com

[2018-07-24 09:08] admataz commented on #11
lol blast from the past!
@simonmcmanus  - I think things have been unsettled your latest movements on the website?

I'm in transit today so won't get to this in a hurry

@MattJLeach  - can you create an issue and label it as a bug here: https://github.com/lnug/website/issues  (and/or have a go at fixing it if you want!)

Thanks!

[2018-07-24 09:18] MattJLeach commented on #11
@admataz & @simonmcmanus - Don't worry. Seems to be fine now. Not sure what happened as there have been no commits to the repo but the link is fine again. Weird

[2018-07-24 09:27] admataz commented on #11
@MattJLeach  - "Free Ticket" in the page banner is definitely still the wrong link for me

[2018-07-25 13:03] jkbits1 commented on #11
hi @admataz and everyone - unfortunately I'm too busy to help out this month, hope to be able to do so again soon

[2018-07-25 13:49] claireinez commented on #11
RSVPs closed and attendance list sent over to Michelle. See you all tonight!

[2018-07-25 17:33] orliesaurus commented on #11
I was going to send the newsletter but then I saw 150 attendees and 20 in the waitlist so there was no reason to send the email out: what do you all think we should do about that? Should we still send an email going forward?
Looking for some feedback on email behaviours ahead of an event!

[2018-08-02 16:36] orliesaurus opened #12 "LNUG #76 - August 22nd 2018"
Hello @lnug/contributors  and @lnug/organisers !

For August we have one potential speaker - and space for another.

@admataz is still doing the ordering of drinks and pizza remotely to keep practicalities of money/sponsorship transactions easier - but the rest is on us!

Edit by adding your name next to a task or reply to the issue with the task you can help with on the night!

# Checklist
## Pre

[2018-08-02 17:18] bettiolo commented on #12
I want to help but I can't edit the document

Happy to do
- Confirm with Speakers
- Confirm Venue arrangements with Condé
- MC/host
- Speakers & AV
- Receive Pizza
- Food & Drink Area Maintenance (keep the cold beer rolling!)
- thanks to speakers
- thanks to sponsors
- Stickers ???
- duplicate this list for next month

[2018-08-02 17:38] orliesaurus commented on #12
Thank you! added you to the list of stuff to do
@bettiolo  here are the slides: https://github.com/lnug/slides - still waiting for the speakers :)

[2018-08-03 11:02] MattJLeach commented on #12
@orliesaurus - Have added myself for the mailchimp email and MC/host (although that's also mentioned in the pore event stuff). If @bettiolo is doing it then cool but I'm happy to do it as well just incase.

[2018-08-03 16:27] orliesaurus commented on #12
Thanks @MattJLeach

[2018-08-07 14:32] claireinez commented on #12
I completely missed this issue but it was announced at the last meetup that there wouldn't be an LNUG this month -- what changed?

[2018-08-07 20:28] orliesaurus commented on #12
@claireinez 👍 LNUG never sleeps!

[2018-08-10 08:12] sielay commented on #12
@claireinez if it doesn't happen, on meetup it's still up and people are signing up. So? BTW I may help with something.

[2018-08-10 19:24] orliesaurus commented on #12
Why would it not happen? Stay positive!

[2018-08-18 22:13] admataz commented on #12
I have put in the drinks order for delivery 4-5pm on Wednesday:

[code]

Also paid the Pizza bill from last month and will put a new order in on Monday

[2018-08-20 09:27] claireinez commented on #12
@admataz it might be worth reducing the pizza order a bit -- we had less than 70 attendees last week and Condé Nast would prefer we keep our numbers to less than 100. All the pizza does get eaten, I don't think we'd ever have a problem with that though 😂

[2018-08-20 15:34] admataz commented on #12
Thanks @claireinez  - I have reduced the pizza order slightly to 40 instead of 50 - please can you keep a headcount  - I'd be interested to keep track of how many people are attending each meetup and try to identify when we have dropoff.  In the past when 4th Wednesday is not the last Wednesday (as it is this month) it's been a better than normal  turnout - and David is a seasoned speaker talking

[2018-08-20 16:49] MattJLeach commented on #12
@admataz @claireinez - I've been a bit busy lately but will be sending out the email when I get in from work tonight so hopefully be a reminder for people that it's on this week.

[2018-08-20 17:56] claireinez commented on #12
@mattjleach could you remind people they need to have their full names on the RSVP? The meetup page was originally set up not to ask for their full name and also allowed guests. I've messaged people individually about it but would be good to remind people their full name is needed or building security won't let them in. Thanks! :)

[2018-08-20 19:03] MattJLeach commented on #12
@claireinez just logged onto Mailchimp and there's a note by @orliesaurus saying not to send (waiting for community announcements) so I'll leave it for him to sort out this month. Let me know if anything else is needed from me

[2018-08-20 20:45] orliesaurus commented on #12
@claireinez weird I cloned the prev meetup's and edited only the parts that needed to be edited. Any idea if those are settings that "reset" every time? Good to know though!

We can use the meetup tool to contact all those without a full name who didn't specify a full name and remove them if they fail? Since it's enforced....

[2018-08-20 21:01] orliesaurus commented on #12
@MattJLeach yeah I was waiting for some stuff from cloudflare but they're not ready for the announcement yet - so we can send it ( oh and we have one extra speaker ) Feel free to send and so some spellcheck if u want - thx

[2018-08-22 20:42] orliesaurus commented on #12
Awesome, good job y'all! 🎓

[2018-09-07 21:35] orliesaurus commented on #12
VIdeos Uploaded and I think we're done here

[2018-09-07 21:35] #12 closed, assigned to nobody

[2018-09-07 21:58] orliesaurus commented on #11
What's left to do on this ticket?

[2018-09-09 20:41] admataz commented on #11
@orliesaurus : need speaker videos  - I'm chasing

[2018-09-15 21:35] admataz opened #13 "LNUG #77 - 26th September 2018"
Hi all @lnug/organisers

We have a GraphQL extravaganza lined up for the 26th... Who is around to help?

Please pick a task or two or three for our next meetup and add your name to it...

# Checklist
## Pre Event
- [x] Find/ confirm speakers! and add them as contributors to github @admataz
- [x] Who will emcee this month? @admataz
- [x] Registration - this is all on Meetup now @admataz
- [x] Websi

[2018-09-16 08:42] clarkie commented on #13
I'll be there this month 👍

I can do doors, tweeting, whatever

[2018-09-16 09:44] trevorah commented on #13
Samesies!

[2018-09-18 15:56] bettiolo commented on #13
Do you need anything from me this month? I am happy to come and do MC again or just help with admin stuff.

[2018-09-18 20:03] admataz commented on #13
Hey @bettiolo  thanks! - all organised so far -  I'll MC this month - we'll need help on the night with general running - tweeting, meeting greeting, pizza boxes and drinks area etc etc.

[2018-09-20 13:12] bettiolo commented on #13
OK, I will come over and help, I will update the slides if no-one did so far /cc @orliesaurus

[2018-09-20 13:20] bettiolo commented on #11
Can you link the videos here https://lnug.org/archive.html ?

[2018-09-20 13:21] bettiolo commented on #12
@orliesaurus can you link the videos here: https://lnug.org/archive.html ?

[2018-09-26 14:19] MattJLeach commented on #13
Unfortunately I'm not going to make tonight so have updated my RSVP on meetup. Have a great evening and I'll be back next month

[2018-09-26 16:44] bettiolo commented on #13
Slides updated: https://github.com/lnug/slides/commit/72f7fc67b70ad510d3569477b08e86483d3a2682

On my way to the venue.

[2018-09-26 20:27] orliesaurus commented on #12
We'll see about that :D

[2018-10-03 07:51] orliesaurus commented on #11
No idea how, i thought it was automagic!? but videos are on our Yt channel

[2018-10-05 17:45] #11 closed, assigned to nobody

[2018-10-19 10:32] admataz opened #14 "LNUG #78 - 24th October 2018"
Hi all @lnug/organisers

We meet next week!!  who's coming?
Pick a task or two or three and add your name to it...

# Checklist
## Pre Event
- [x] Find/ confirm speakers! and add them as contributors to github @admataz
- [x] Who will emcee this month?
- [x] Registration - this is all on Meetup now
- [x] Website updates  @admataz
- [x] Monthly Mailer (Mailchimp)
- [x] Slides (usually the MC)

## La

[2018-10-22 23:07] admataz commented on #14
bump @lnug/organisers. anyone?

[2018-10-23 08:34] trevorah commented on #14
I can be the food and drinks wizard

[2018-10-23 09:06] MattJLeach commented on #14
Sorry @admataz have been really busy lately. I will be there tomorrow though and happy to help with anything needed.

[2018-10-23 15:46] admataz commented on #14
thanks @MattJLeach and @trevorah   - see you tomorrow!

[2018-10-30 20:52] #13 closed, assigned to admataz

[2018-10-30 20:57] admataz opened #15 "LNUG #79 - 28th November 2018"
Hi all @lnug/organisers

Pick a task or two or three and add your name to it...

# Checklist
## Pre Event
- [x] Find/ confirm speakers! and add them as contributors to github @admataz
- [ ] Who will emcee this month?
- [x] Registration - this is all on Meetup now
- [x] Website updates  @admataz
- [ ] Monthly Mailer (Mailchimp)
- [ ] Slides (usually the MC)

## Last day checks (Monday before event)

[2018-11-22 20:07] admataz commented on #15
@lnug/organisers, @lnug/contributors   - who's available to help run LNUG next week?

I have a potential clash of plans - it would be great if someone could step up and take ownership of next week's meetup

[2018-11-22 21:54] admataz commented on #14
videos from the event now online: https://www.youtube.com/playlist?list=PLam_80-FY3vQE2I_NP0F3dTFsVHGrTTVX

[2018-11-22 21:54] #14 closed, assigned to nobody

[2018-11-23 12:16] MattJLeach commented on #15
@admataz - Sorry but I have plans that have come up and won't be able to make next week

[2018-11-23 14:14] FabioAntunes commented on #15
I will be there, and I can help with everything.

[2018-11-28 16:11] orliesaurus commented on #15
yikes I forgot about the email! Good luck everyone!

[2018-11-29 16:01] leggsimon opened #16 "Better ways to help"
@admataz and I were chatting at last nights LNUG about how we could better help out Adam organising an event. I think here would be a good way for us to discuss how we can help out a bit better maybe.

I’m of the opinion that for me, having a list of tasks and letting people "pick them up" doesn’t necessarily work (certainly not for me) and that people being assigned a task each month ensures ever

[2018-11-30 10:46] admataz commented on #16
Thanks @leggsimon - and thanks for putting up with my kvetching on wednesday night.

everyone stay tuned for details up for an organisers-only meetup - it will be good to see you all and we can catchup on all things

[2019-01-16 21:41] admataz opened #17 "LNUG #80 - January 2019"
## Pre Event
- [ ] Find/ confirm speakers! and add them as contributors to github @admataz
- [ ] Who will emcee this month? @admataz
- [ ] Registration - this is all on Meetup now @admataz
- [ ] Website updates  @admataz
- [ ] Monthly Mailer (Mailchimp)
- [ ] Slides (usually the MC)   @admataz

## Last day checks (Monday before event)
- [ ] Confirm with Speakers @admataz
- [ ] Confirm Venue arrang

[2019-03-15 09:57] #15 closed, assigned to nobody

[2019-03-15 10:25] admataz opened #18 "Getting organised... let's meet!"
@lnug/contributors @lnug/organisers 👋

Can we organisers meet next week Wednesday 20th to talk about upcoming LNUG plans? Add a comment here to let me know if you can make it. Time and location TBC... somewhere central and probably early evening.

Things I'd like to cover:
- [x] LNUG's involvement in  upcoming events and meetups in 2019 (I know, it's late March already)
- [x] organisers - who's st

[2019-03-15 10:32] MattJLeach commented on #18
Hi @admataz

I can do Tuesday, Wednesday or Friday next week (after 6.30pm). Let me know if there'll be a couple of beers involved and I'll leave the bike at home.

[2019-03-15 10:34] admataz opened #19 "Mentors/ Workshoppers required for London CityJS Conference"
@lnug/contributors @lnug/organisers

The organisers at London CityJS conference have a session for a node workshop around the conference time on Wednesday 1st May.

Who would be up for running a workshopper (nodeschool.io or other programme) for attendees? Probably intro to intermediate level

Please respond in the comments here, or email me: contact@lnug.org.

[2019-03-15 21:24] neshka commented on #18
Hi @admataz,
Monday, Tuesday, Wednesday or Friday after 6pm are ok for me.

[2019-03-18 14:52] Ankcorn commented on #18
Hi, I'd like to get involved but can't do Wednesday's. Tuesday works best for me.

[2019-03-18 15:10] ketsthechanger commented on #18
Hi Adam, I'd like to get involved in LNUG. Can do after 6pm.. please let me know.

Cheers, Ketan

[2019-03-18 15:19] admataz commented on #18
Ok  - maybe Tuesday (i.e. tomorrow)... somewhere central after 6pm   will confirm later today

We'll need a venue - if anyone has a good idea... somewhere central please suggest here

@claireinez @clarkie @elischutze @FabioAntunes @simonmcmanus @trevorah @graycodes @bettiolo
are any of you around?

[2019-03-18 15:30] leggsimon commented on #18
I’m in Germany so can’t unfortunately

[2019-03-18 16:45] hewIngram commented on #18
I'd be well up for getting involved in helping out and organising if you're looking for new volunteers @admataz?

Tuesday works for me

[2019-03-19 08:45] admataz commented on #18
Good morning! 🌦

@MattJLeach, @neshka, @Ankcorn, @ketsthechanger, @hewIngram
...and anyone else from @lnug/contributors  or @lnug/organisers

So we are planning to meet this evening at 6pm - has anyone got office space with a meeting room they could donate for an hour? Otherwise we can go straight to a pub.

Let us know in the comments....

[2019-03-19 08:57] simonmcmanus commented on #18
@admataz how many people are we talking? I can ask about 1st floor of TOG.

[2019-03-19 08:58] hewIngram commented on #18
Not at all Central or that convenient, but we've got some space upstairs at Google Campus if that works for anyone?

[2019-03-19 09:02] admataz commented on #18
@hewIngram what's the address?

@simonmcmanus so far 6 - or 7 + a dog if you are hosting 😄

[2019-03-19 09:03] simonmcmanus commented on #18
ok, will ask now, google campus works for me too, assuming its dog friendly :)

[2019-03-19 09:08] hewIngram commented on #18
4-5 Bonhill St, Shoreditch, London EC2A 4BX

Kind of between Old St and Liverpool St but close to neither 😅

[2019-03-19 09:11] simonmcmanus commented on #18
we are ok to use the engineering room on 3rd floor:

https://www.theofficegroup.co.uk/office/2-stephen-street/

Im gonna head into town now, see you all later.

[2019-03-19 09:13] hewIngram commented on #18
Sweet, see you later @simonmcmanus

[2019-03-19 09:18] admataz commented on #18
great! so to confirm - we meet at TOG that's super convenient and central.

Thanks all  - see you later... I'll meet you in the lobby at 2 Stephen St around 6pm

[2019-03-19 09:21] admataz commented on #18
does everyone here have access to the gitter room? https://gitter.im/lnug

[2019-03-19 10:24] ketsthechanger commented on #18
See you all

[2019-03-19 11:04] leggsimon commented on #19
Would love to but unfortunately I'm away

[2019-03-19 11:11] Ankcorn commented on #18
See you all there 🐕

[2019-03-19 17:46] ketsthechanger commented on #18
Hey adam, can you please send your number ? Haven't met anyone of you before

[2019-03-19 18:10] admataz commented on #18
my number is 07757234443 if you are here and need someone to let you in. we are upstairs.

[2019-03-19 18:56] ketsthechanger commented on #18
Sorry, Had to stay in the office.. still in office, will catch up with you adam tomorrow on call.. hope that's fine

[2019-03-19 20:41] Ankcorn commented on #19
Hi @admataz it would be good to find out more about this.

[2019-03-19 21:08] MattJLeach commented on #18
Good catchup tonight. Here's the link to the podcast I mentioned. https://softskills.audio/

[2019-03-19 21:41] Ankcorn commented on #18
Thanks @admataz for the :beer: and organising this.

[2019-03-19 22:15] admataz commented on #18
Hey all - thanks for coming to the meeting earlier. Great to catch up. I'll put together some notes and actions we discussed and share

[2019-03-20 09:55] admataz commented on #19
Thanks @Ankcorn  - I think you were chatting with @hewingram too? I will put you in touch with the organisers  - can you send me your email addresses to adam@admataz.com? thanks

[2019-03-20 10:06] #2 closed, assigned to nobody

[2019-03-20 10:06] #16 closed, assigned to nobody

[2019-03-20 10:06] #17 closed, assigned to nobody

[2019-03-20 10:43] hewIngram commented on #19
Lets do this @Ankcorn

![](https://media.giphy.com/media/r2BtghAUTmpP2/giphy.gif)

[2019-03-20 10:57] admataz commented on #18
Here's a summary of what we discussed last night.

Sorry you couldn't make it @ketsthechanger  - come say hi at next Wednesday's meetup and let's discuss how you can get involved.

## Notes:

### 1. Intros and our envisaged roles/ ideas about LNUG.
- My takeaway from this is that we are all keen to maintain LNUG as an inviting and enjoyable space for attendees - that we are doing something right -

[2019-03-20 13:33] leggsimon commented on #18
I really like this, I did occasionally question whether the “in the break, go find the people with their hands up” thing worked at all.

The FT may be more keen to do this once we’ve moved to our shiny new office in a couple of months.

[2019-03-20 14:06] nikcorg commented on #19
What kind of hours are we talking about? I can probably be available, but would need to know more about the parameters.

If email is the preferred channel for communicating, I can be reached at niklas.lindgren@iki.fi.

// cc @admataz

[2019-03-22 10:25] admataz opened #20 "LNUG #82 - March 2019"
@lnug/contributors @lnug/organisers !

We meet next week - a good line up of talks - and a bunch of exciting announcments and a ticket giveaway.

Who's going to be around to help this month? We have some fresh organisers in  - and @seanmtracey will be taking the mic.  - but there are a number of tasks below.

## Pre Event
- [x] Find/ confirm speakers! and add them as contributors to github @admata

[2019-03-22 10:26] admataz commented on #20
Some slides for the MC deck

![be EXTRAORDINARY (2)](https://user-images.githubusercontent.com/395101/54816645-b823d800-4c8c-11e9-9d38-54c1c495f1f5.png)

![be EXTRAORDINARY](https://user-images.githubusercontent.com/395101/54816718-e1446880-4c8c-11e9-9013-ec70059b52f1.png)

[2019-03-22 21:47] admataz commented on #5
I've added some notes: [event-planning/MC-guide.md at master · lnug/event-planning](https://github.com/lnug/event-planning/blob/master/MC-guide.md)

[2019-03-22 21:47] #5 closed, assigned to nobody

[2019-03-22 21:51] admataz commented on #18
ok - I'm closing this  - thanks all for your input and coming along - I think the few follow on points have their own momentum and specific issues and repos.  Feel free to open more issues for discussion as and when you need to.

And let's meet again in a few months.

[2019-03-22 21:51] #18 closed, assigned to nobody

[2019-03-22 21:51] admataz commented on #9
I've added this to the guideline docs

[2019-03-22 21:51] #9 closed, assigned to nobody

[2019-03-22 21:57] admataz commented on #19
wow, things have moved quickly! Nice work.

https://twitter.com/cityjsconf/status/1109051266821427201
![](https://pbs.twimg.com/media/D2Qj-WdWkAEHurF.jpg)

thanks @nikcorg! - if you're at the next meetup (Wednesday 27th) please come along and introduce yourself to @Ankcorn  and @hewIngram and see if there's anywhere you can help with what they're doing..

I'm going to close this issue now because

[2019-03-22 21:57] #19 closed, assigned to nobody

[2019-03-22 21:58] admataz commented on #20
![](https://pbs.twimg.com/media/D2Qj-WdWkAEHurF.jpg)

[2019-03-24 21:19] admataz opened #21 "Pusher promotional details for slides newsletter and meetup pages"
Pusher have asked for some detail to be shared in exchange for their contribition:

Please make use of these when preparing slides and newsletters, and any event announcement where Pusher are involved as sposnsors.

Thanks!

cc @orliesaurus @seanmtracey

----

About Pusher Blurb – please include this at the bottom of your Meet-Up.com event page in the same way you’d mention your event hosts etc.
W

[2019-03-25 16:04] claireinez commented on #18
Ah sorry to have missed this -- I was on holiday for a few weeks and didn't look at github at all. Thanks for the summary @admataz and I'll see you all on Wednesday.

[2019-03-26 11:58] admataz commented on #18
Hi @claireinez! hope you had a great holiday - see you on Wednesday

[2019-03-27 11:17] trevorah commented on #18
Sorry I missed this as well, I've been having a nightmare trying to sort out a flat move. I'm moving this weekend so I can't make it to this months meetup, but I'm looking forward to next months!

[2019-03-28 19:07] neshka opened #22 "LNUG #83 - April 2019"
@lnug/contributors @lnug/organisers

Who's going to be around to help in April? :)

# Checklist
## Pre Event
- [x] Find/ confirm speakers! and add them as contributors to github
- [x] Who will emcee this month? @MattJLeach
- [x] Registration - this is all on Meetup now
- [x] Website updates @admataz
- [x] Create Meetup event (copy last month) @neshka
- [x] Monthly Mailer (Mailchimp)
- [ ] Slides (

[2019-03-29 12:46] admataz commented on #22
hi @neshka  - thank you for kicking off the todo list for next month!

I'm about to head off to the airport - I'll add my name to relevant tasks now - but meanwhile - can someone create the event on meetup? I've updated the website from the talk descriptions - it should be a case of making a copy of the last meetup - and changing the details. Make sure you get the dates right!!

[2019-03-29 13:05] neshka commented on #22
Hey! I can create the next event.

[2019-03-31 01:30] orliesaurus commented on #22
@admataz any community announcements this month?

[2019-03-31 01:31] orliesaurus commented on #21
Thanks!

[2019-03-31 02:06] #6 closed, assigned to nobody

[2019-03-31 20:04] admataz commented on #22
Hey @orliesaurus  - yes - please mention:

- City JS Conference 20% community discount (image: https://user-images.githubusercontent.com/395101/54816645-b823d800-4c8c-11e9-9d38-54c1c495f1f5.png)

- LNUG-run node.js workshop at CityJS conf on May 1st  (image: https://camo.githubusercontent.com/7de3ff7bc598f10a9a178cea29c42ada1ec234ae/68747470733a2f2f7062732e7477696d672e636f6d2f6d656469612f4432516a2

[2019-04-01 19:17] orliesaurus commented on #22
Ok all done

[2019-04-03 13:47] Ankcorn commented on #22
Hey, happy to help out on the night.

Maybe like twitter and recruitment table?

[2019-04-05 09:41] seanmtracey commented on #22
Ditto! Will also be able to help on the day :)

[2019-04-05 13:04] Ankcorn commented on #22
I can get there early if that helps :)

[2019-04-05 19:30] orliesaurus commented on #22
@Ankcorn @seanmtracey  put your handles next to the checklist (and tick it if its an activity you can complete pre-meetup)

[2019-04-05 21:18] Ankcorn commented on #22
Can't edit it.

Can do the door and jobs table! 👍

[2019-04-08 12:53] hewIngram commented on #22
I think we had someone lined up to emcee right? Was it @MattJLeach ?
(this 10000% *isn't* me saying I'll do it if it wasn't him/he can't do it anymore)

[2019-04-09 09:06] MattJLeach commented on #22
Yes I'm good to do the emcee this time round. It won't let me edit the top post to add myself. Could someone have a look at my privileges please? (@admataz)

[2019-04-09 09:31] claireinez commented on #22
I'll be around to help out too (I also can't edit the original post)

[2019-04-09 22:00] admataz commented on #22
Hi all,
Apologies for the silence my side - I've been away with family and off the grid...

I've changed some team permissions for this repos - @MattJLeach  - can you try edit this issue again?

[2019-04-11 10:46] MattJLeach commented on #22
Thanks @admataz
I have added myself as the emcee for this one

[2019-04-23 14:36] admataz commented on #22
@MattJLeach  - all good from your side? I may have some additions to the slides for you as a last push promo for CityJS conf

Otherwise - I've confirmed all arrangements with hosts and speakers and catering and video - and beer and beverage delivery set to arrive 5-6pm at Conde Nast.

Looking good!!

[2019-04-23 14:43] MattJLeach commented on #22
Hi @admataz - I'm all good for tomorrow. As it's my first time doing the emcee is there anything I should prepare / be aware of?

[2019-04-23 14:49] admataz commented on #22
@MattJLeach
- the slides  - checkout from https://github.com/lnug/slides and update all the specific details  - let me know if you have any problems
- make a list of announcements  - make sure you catch everything (not a lot this month - the most important are the city js conf and the jobs table)
- and have a think about evening's timings and running order - and run it through in your mind
- get t

[2019-04-23 14:59] MattJLeach commented on #22
Thanks @admataz

[2019-04-23 15:00] admataz opened #23 "Alternating LNUG meetup venues..."
In our last organisers meeting we discussed the idea of moving venues occasionally - to keep it fresh - and via changing location - keep many parts of our community active. we agreed a rotation would be good - and I mentioned the idea to our current long-term hosts at Condé Nast and they thing it sounds great too.

### Potential venues

- [ ] CloudFlare

First off - today I had a message from Clou

[2019-04-23 19:27] MattJLeach commented on #22
Hi @admataz

Do we have confirmed talks for next month to add to the slides? I see we have "Native implementation of curl in Node" but I'm not sure what the speakers name is?

Also, I tried pushing the slide changes to a branch on the repo as I also fixed a couple of small bugs but I don't seem to have the ability to do this.

Thanks
Matt

[2019-04-23 19:59] admataz commented on #22
@MattJLeach  - sorry - I messed up the github org default permissions at some point - you should be able to write to [lnug/slides](https://github.com/lnug/slides) now.

We don't have a second confirmed speaker yet - but it's a good opportunity to encourage people to step up with a talk...

There certainly is an air of mystery around the speaker! that's ok - but if you're listening @chinrank - feel

[2019-04-23 21:16] MattJLeach commented on #22
@admataz - Have created a pr on slides repo so you can double check that you're happy with it

[2019-04-27 11:40] Ankcorn commented on #23
CloudFlare were great hosts for code bar a few weeks ago! The office was a little hard to find so we would need to make sure we had somebody loitering outside to catch fans of javascript and point them in the right direction.

👍

[2019-04-30 19:15] neshka opened #24 "LNUG #84 - May 2019"
@lnug/contributors @lnug/organisers

Who's going to be around to help in May? :)

# Checklist
## Pre Event
- [x] Find/ confirm speakers! and add them as contributors to github
- [x] Who will emcee this month? @leggsimon
- [x] Registration - this is all on Meetup now
- [x] Website updates @admataz
- [x] Create Meetup event (copy last month) @neshka
- [ ] Monthly Mailer (Mailchimp)
- [x] Slides (usu

[2019-05-13 08:51] seanmtracey commented on #24
Sorry all, I won't be able to help with this event. Will be at Bristol that entire week. Hope all goes smoothly :)

[2019-05-13 09:20] hewIngram commented on #24
Do we have someone lined up to MC it?

[2019-05-13 09:23] admataz commented on #24
hi @seanmtracey  - thanks for letting us know - have a great time in Bristol

@hewIngram  - nothing confirmed so far - but I'll be happy to do it if no one volunteers (leaving that space open!)

[2019-05-13 10:33] adamdiy commented on #24
Hello, I'm a long-time attendee and /organiser lurker, ready to help out with anything and everything this month

My new place is also open to potential sponsopship / ticket giveaways at LNUG: who's best to speak to? @admataz ?

[2019-05-13 11:18] leggsimon commented on #24
I could probably MC if you want? It’s on the 22nd? Is that right, it’s normally last Wednesday of the month, no?

[2019-05-13 11:23] admataz commented on #24
@adamdiy  - sounds great!  - will you be there next Wednesday and we can talk about how you can contribute? If you have anything specific that you want to giveaway for May's meetup, please add it here in a comment and we'll incorporate it into the evening's plans - or if you prefer email me: adam@admataz.com

@leggsimon that would be billiant! yes it's the 22nd (next week Wednesday)

[2019-05-16 10:00] adamdiy commented on #24
@admataz  nothing for May unfortunately, but will see you at LNUG next week and figure out what works best for June!

[2019-05-16 12:40] trevorah commented on #24
I've got a company meeting that finishes at 7, so I won't be around to help set up LNUG this month. I should be around during and after to help clear up though!

[2019-05-17 15:07] leggsimon commented on #24
@admataz are you able to share anything that needs saying with me please

[2019-05-20 17:20] admataz commented on #24
Hi @leggsimon  -  just waiting for confirmation on a potential ticket giveaway - other than that we are pretty light on the announcements this month - so just the usual - sponsors, etc. Let me know if you want to go through any of it.

[2019-05-20 23:58] arakno commented on #24
Hi , I could be at the door, receive pizza, etc...

<webdeveloper>
    Name:  Paulo Basto
    Email:  pbasto@arakno.net
    Web:    www.arakno.net
    Twitter: @arakno
    Skype:  arakno.net
    Mobile: [+44] (0)7404597489
</webdeveloper>

On Mon, May 20, 2019 at 6:20 PM Adam Davis <notifications@github.com> wrote:

[2019-05-21 17:06] leggsimon commented on #24
@admataz yep, could we have a call tomorrow. Need to get the slides from you as well

[2019-05-22 07:55] MattJLeach commented on #24
Hi @admataz, sorry but I'm not going to make it tonight. Have a great time everyone and I'll see you all next month

[2019-05-22 08:08] admataz commented on #24
@leggsimon  for slides you can get the latest from https://github.com/lnug/slides and update  - let me know if you have any issues

also have a quick read:   https://github.com/lnug/event-planning/blob/master/MC-guide.md  - mostly common sense - but worth checking over

I'm mostly in meetings from 1pm - have you got time for a quick chat before then? My number is 077757234443 - speak later!

[2019-05-22 08:10] admataz commented on #24
@arakno  - great! thanks for your help - see you later!

[2019-05-22 08:21] admataz commented on #20
what a great night!

[2019-05-22 08:21] #20 closed, assigned to nobody

[2019-05-22 08:21] admataz commented on #22
good work last month everyone - thanks!

[2019-05-22 08:21] #22 closed, assigned to nobody

[2019-05-27 19:33] neshka opened #25 "LNUG #85 - June 2019"
@lnug/contributors @lnug/organisers

Who's going to be around to help in June? :)

# Checklist
## Pre Event
- [x] Find/ confirm speakers! and add them as contributors to github
- [x] Who will emcee this month? - @seanmtracey
- [x] Registration - this is all on Meetup now
- [x] Website updates
- [x] Create Meetup event (copy last month) @neshka
- [x] Monthly Mailer (Mailchimp)
- [ ] Slides (usually

[2019-05-28 10:36] seanmtracey commented on #25
I'm happy to MC / jobs table / ticket scan. Whichever is if anybody else has a preference :)

[2019-06-04 10:02] orliesaurus commented on #25
Sending newsletter out now

[2019-06-17 13:49] ketsthechanger commented on #25
Sorry, was on holiday for the past month! Happy to take over activity for July meetup @admataz

[2019-06-17 20:28] Ankcorn commented on #25
Well Volunteered Mr Tracey! I will be there and happy to help with anything. If somebody tells me what Ticket Scan/ Door is I can take that off your hands @seanmtracey and let you have time to get ready to MC

[2019-06-18 07:04] hewIngram commented on #25
I like the idea that @seanmtracey has an intense and focussed pre-mcing routine that he goes through. From what I've seen it mostly involves drinking beer.

I'll be around and happy to do anything.

[2019-06-19 07:08] seanmtracey commented on #25
Sorted! I'll MC :)

For the curious, @hewingram is correct. Just imagine the Rocky montage scene, but with beer 🍻

[2019-06-19 08:44] admataz commented on #25
Hi all - thanks for stepping up and taking on tasks.

[2019-06-24 15:03] adamdiy commented on #25
Hi all, I mentioned to @admataz last month that we have 3 free tickets to raffle off for ServerlessDays! Have attached a super-basic background slide here, winners can email me to register/get their ticket

Don't know if you want to do it as MC @seanmtracey ? Otherwise I am happy to. Imagine we should wait towards the end?

[LNUG slide 26Jun2019.pdf](https://github.com/lnug/event-planning/files/33

[2019-06-25 11:35] seanmtracey commented on #25
@adamdiy More than happy to do it during the community announcements, but if you want to talk for a few moments about Serverless Conf and announce the raffle during the community announcements, we can run the raffle at the end. What do you think?

[2019-06-25 16:33] adamdiy commented on #25
Yep, I'm happy to speak for a minute about the conference and the raffle
during community announcements, then leave it to you to draw at the end :+1:

On Tue, Jun 25, 2019 at 12:35 PM Sean M. Tracey <notifications@github.com>
wrote:

[2019-06-26 09:43] seanmtracey commented on #25
Cracking :D

[2019-06-26 11:08] MattJLeach commented on #25
Hi @admataz
Unfortunately, I'm not going to make it again this month. Things have been really busy the last couple of months. I hope to be back next month. Have a great meetup everyone

[2019-06-26 14:53] admataz commented on #25
hey @MattJLeach  - thanks for letting us know... also been mad my side  - hopefully see you next month - have you and @simonmcmanus had any joy with the podcast idea (my guess is no - it's beeen hectic!)  - do you want us to give a shout for help at the meetup?

[2019-07-01 20:20] neshka opened #26 "LNUG #86 - July 2019"
@lnug/contributors @lnug/organisers

Who's going to be around to help in July? :)
Date: July 24th 2019

# Checklist
## Pre Event
- [x] Find/ confirm speakers! and add them as contributors to github
- [ ] Who will emcee this month?
- [x] Registration - this is all on Meetup now
- [x] Website updates
- [x] Create Meetup event (copy last month) @neshka
- [ ] Monthly Mailer (Mailchimp)
- [ ] Slides (u

[2019-07-22 21:07] Ankcorn commented on #26
Hey, I am happy to MC this month!

[2019-07-23 08:17] trevorah commented on #26
I won't be able to make it this month, sorry team.

[2019-07-23 12:18] hewIngram commented on #26
I'll be about - can give a hand with whatever.

[2019-07-23 12:32] MattJLeach commented on #26
I'm hoping to be there tomorrow as well. Happy to help with anything

[2019-07-23 15:03] Ankcorn commented on #26
@admataz do you want any other sponsor slides added to the deck?

[2019-07-23 15:52] admataz commented on #26
Hi all!

I'm back in town and getting things on my task list done.

@neshka  - so pleased you have been looking after the set up here and on meetup - very helpful - will we see you tomorrow?
@Ankcorn  - thanks for picking up the mic - and the slides - let me know if you have any other questions - I'll double check my inbox -  there are a couple events  worth mentioning... but otherwise - just the

[2019-07-23 19:41] neshka commented on #26
Hey @admataz! It's a pleasure :) Yes, see you tomorrow.

[2019-07-25 07:28] hewIngram opened #27 "Organisers meetup"
Hello lovely LNUG organisers.

How do people feel about an organisers meetup next week or the following to chat about all things LNUG?

It'd be great to catch up on:

- General event stuff (how can we be more useful @admataz)
- Podcast update
- Diversity (I'm acutely aware that our speakers, MCs and even us organisers are predominantly white men in fairly senior dev roles - how can we encourage mo

[2019-07-25 11:29] Ankcorn commented on #27
I feel great about having an organisers Meetup next week.

I'm not available on Wednesday but can do any other day (I think)

[2019-07-25 15:36] hewIngram commented on #27
Wednesday is JSMonthly right? I'm not available then either.

@lnug/organisers

[2019-07-25 15:38] Ankcorn commented on #27
Tuesday is js monthly.

On Thu, 25 Jul 2019, 16:36 Hew Ingram, <notifications@github.com> wrote:

[2019-07-25 20:33] neshka opened #28 "LNUG #87 - August 28th 2019"
@lnug/contributors @lnug/organisers
Who's going to be around to help in August? :)

# Checklist
## Pre Event
- [x] Find/ confirm speakers! and add them as contributors to github
- [x] Who will emcee this month?  @neshka
- [x] Registration - this is all on Meetup now @neshka
- [x] Website updates @admataz
- [x] Create Meetup event (copy last month) @neshka
- [ ] Monthly Mailer (Mailchimp)
- [x] Sli

[2019-07-25 21:09] seanmtracey commented on #27
Sounds good to me. Can't do Monday / Tuesday, but should be fine Weds/Thurs/Fri :)

[2019-07-26 08:16] hewIngram commented on #27
I feel like theres probably some kind of poll tool that would make it really easy to organise this... anyone?

[2019-07-26 08:26] Ankcorn commented on #27
I got you

👍  Monday
🎉  Tuesday
😄  Wednesday
🚀  Thursday
❤️  Friday

Now react to this post 😲

[2019-07-26 08:28] hewIngram commented on #27
Love it - thanks Thomas!

[2019-07-29 11:27] hewIngram commented on #27
I feel like theres some magic feature that would have alerted all the organisers that I've missed out on. Is there an LNUG equivalent of the bat signal @admataz ?

[2019-07-29 13:47] Ankcorn commented on #27
@lnug/organisers - such teamwork 🤣

[2019-07-29 15:00] admataz commented on #27
hey all @lnug/organisers  and @lnug/contributors  !! I put out a message on twitter too - that's what got you all interested. https://twitter.com/LNUGorg/status/1155854406996377600

tell your friends!

I'm flexible this week or next - just need advanced warning

[2019-07-29 16:45] simonmcmanus commented on #27
Im not in London much these days. I should be able to dial in any day of the week.   If its wed/thurs/fri i might be able to make it in person.

[2019-07-31 16:35] seanmtracey commented on #27
Hey everyone, are we looking at meeting on the Friday? (Looking at Thomas's poll)

[2019-07-31 17:31] Ankcorn commented on #27
Any thoughts on a location?

[2019-08-01 12:30] seanmtracey commented on #27
Can do pub/restaurant somewhere around the Conde Nast offices? We all know how to get there :)

[2019-08-01 15:57] Ankcorn commented on #27
That sounds like a fun plan! :) I know of a good and reasonably priced Japanese restaurant close by called Taro. Suggestions welcome though 👍

[2019-08-01 16:46] seanmtracey commented on #27
I've been to Taro before, lovely place, works for me :)

[2019-08-01 17:36] admataz commented on #27
ok - great. who else can make it tomorrow?

[2019-08-01 18:23] jkbits1 commented on #27
hi, it's been quite a while since I did any actual organising, but I'm in central London tomorrow and would enjoy attending. Any time from a little before 6 is fine for me.

[2019-08-01 21:14] seanmtracey commented on #27
That works for me too. How does 18:30 work for everyone? Will that give everyone a chance to travel without too much of a rush?

[2019-08-01 22:08] admataz commented on #27
@ankcorn. please can you post a link to the restaurant?

see you there tomorrow !

[2019-08-02 07:05] Ankcorn commented on #27
http://www.tarorestaurants.co.uk

The one on brewer street

[2019-08-02 07:16] hewIngram commented on #27
Might be a bit later than 6:30 but I'm in!

[2019-08-07 15:33] hewIngram commented on #27
Sorry! Got swamped and didn't get around the notes but... here they are:

- Talks table - a table to help first time speakers, especially from underrepresented groups, to help them flesh out talk ideas, and encourage them to submit talks. Who wants to run it? Maybe @admataz  + someone else is good for the first one (as Adam is well recognised)?

- Actively encourage people we think should be talki

[2019-08-13 08:33] Ankcorn commented on #27
Thanks for writing these up!

[2019-08-13 08:57] Ankcorn opened #29 "LNUG - Workshop #1 - December 2019"
Hey all,

Let's Hack!

In December there will be a node workshop on learning node and exploring Api's. Join us for festive fun where we pair up and build something fun, silly, ridiculous, or all 3 using Node.js and a Public Rest API.

The API's will be randomly assigned from https://github.com/public-apis/public-apis. Some examples are  beer (https://punkapi.com/), environment (https://docs.openaq

[2019-08-14 15:09] jkbits1 commented on #27
Thanks, @hewIngram these are a great summary. Some terrific ideas for supporting under-represented groups in there

[2019-08-15 08:51] admataz commented on #27
Thanks @hewIngram  - great to see you all too  - I 'm extra super excited about the possibilities and it's brilliant to have you all along with the organising! great job!

@hewIngram  - let's chat about a good approach to the node core feedback session and slot it in for this month's meetup... I'll open another issue for this.

@Ankcorn  - saw your workshop issue - sounds great! let's do it!!! whe

[2019-08-15 08:55] admataz commented on #29
Great!! yes - I like the idea of something themed and original - let's have some fun with this.

https://nodeschool.io have some standard workshoppers that I know LNUG members have run before with great success - can be a good backbone to the workshop.

[2019-08-16 19:55] admataz commented on #26
good job everyone!

[2019-08-16 19:55] #26 closed, assigned to nobody

[2019-08-16 19:56] admataz commented on #25
videos: https://www.youtube.com/watch?v=Cg_psyqJo8I&list=PLam_80-FY3vS64uOTJDVAqSWffyVHB8E9

[2019-08-16 19:56] #25 closed, assigned to nobody

[2019-08-16 19:57] admataz commented on #24
videos: https://www.youtube.com/watch?v=cBH2L2LDRek&list=PLam_80-FY3vSWxFY2d4iJ0OUwUCTxYrZV

[2019-08-16 19:57] #24 closed, assigned to nobody

[2019-08-16 20:49] admataz commented on #28
hi @neshka  - thanks for getting the todo list going for this month... how do you feel about taking on the MC duties this month? Let me know if you're up for it.

[2019-08-16 21:28] neshka commented on #28
Hey @admataz, yes I could! I need to confirm with my manager if I can leave work earlier that day (I travel from outside of London) but I think it can be done :)

[2019-08-22 22:14] admataz commented on #28
@hewIngram  - we spoke about running a node user feedback session... once again the month has caught up with me... here's the central discussion.

https://github.com/nodejs/user-feedback/issues
https://github.com/nodejs/user-feedback/issues/115

and this: https://docs.google.com/document/d/129syiwgsn_doJ2TD9zRqjSRN8qZEW9xj0xwPcEXGaSc/edit

any thoughts?

I think the outline in the doc is a little

[2019-08-27 13:29] admataz commented on #28
@lnug/organisers @lnug/contributors

Who's around tomorrow to help. It's going to be a good night! Great talks - and looking like a full house.

[2019-08-27 13:32] hewIngram commented on #28
I'll be there - can arrive earlyish to help setup and more than happy to run the jobs table.
@admataz and @seanmtracey  we should stagger it and the talks table maybe so people can get to both?

[2019-08-27 13:37] admataz commented on #27
Update from me:
- I've thought about the node core feedback session but not done much about it - there's a comment in #28  with some thoughts about an approach - but happy to roll this over to Sept.,
- I've got an appointment at a bank about an account - but the lead time is 4 weeks, will update you on my thoughts when we meet.

[2019-08-27 13:38] admataz commented on #28
@hewIngram - yes I agree - let's stagger it.

[2019-08-28 16:12] seanmtracey commented on #28
Works for me! I'm going to be a little late to this evening's LNUG, so if we do one after the other, I should be around in time to help with whichever table is second :)

[2019-08-29 18:14] neshka commented on #27
Hey guys,

is it possible to meet during the weekend sometime?
I'm not able to join you during the week (Mon-Fri) for next/any organisers meetup.

Maybe I could do Fridays but around 7:30 earliest.

Let me know what do you think :)

[2019-08-29 18:33] neshka opened #30 "LNUG #88 - September 25th 2019"
@lnug/contributors @lnug/organisers
Who's going to be around to help in September? :)

# Checklist
## Pre Event
- [x] Find/ confirm speakers! and add them as contributors to github
- [x] Who will emcee this month? @admataz
- [x] Registration - this is all on Meetup now @neshka
- [x] Website updates @admataz
- [x] Create Meetup event (copy last month) @neshka
- [ ] Monthly Mailer (Mailchimp)
- [ ]

[2019-09-02 09:29] hewIngram commented on #29
Happy to work on this with you @Ankcorn

I guess the first question is what is the audience? Beginner or advanced?
I think at some point (not necessarily this one) could be an intro to node for people who have writing js in the browser.

For this it might be fun to do something cool but accessible... Maybe something on serverless? Buzzwordy and slightly silly perhaps?

[2019-09-02 09:30] hewIngram commented on #29
In terms of future topics:
Promises + async await
Streams

[2019-09-02 11:43] hewIngram commented on #27
That would be awesome! I'm up for that but might be harder for folks with kids and stuff. But lets see

[2019-09-02 12:11] Ankcorn commented on #27
We could try do a remote one next time?

Play drawful Or something like that?

🧐

On Mon, 2 Sep 2019, 12:43 Hew Ingram, <notifications@github.com> wrote:

[2019-09-17 10:22] seanmtracey commented on #30
Hey everyone, I won't be able to make this months LNUG as I'll be in Germany. Hope it all goes smoothly, and if there's anything I can help with in the run up, shoot it my way :)

[2019-09-17 20:30] admataz commented on #30
thanks @seanmtracey  - have a great time in Germany! spread the word of LNUG where ever you go!

[2019-09-17 20:38] Ankcorn commented on #29
I'm having a chat with depop about event space on Thursday morning, if anybody would like an invite to that call just send me an email.

I'd love for this to kind of align to our goals of increasing engagement from people new to node, and growing the diversity of the node community.

[2019-09-17 20:39] Ankcorn commented on #30
Hey a bit off topic but it would be great to grab some time to discuss the
lnug workshop before next week's event.

I have found a potential host/sponsor so really it's up to whoever wants to
get involved what the workshop is about.

Im seeking to them on Thursday so it would be great to get some discussion
going in the GitHub thread before then
https://github.com/lnug/event-planning/issues/29

On

[2019-09-18 07:45] admataz commented on #29
@Ankcorn  - sounds great! I could join you on your call if it's useful to you -  have pinged you an email.

[2019-09-18 07:57] hewIngram commented on #29
We (as in work) occaisionally run events at Google Campus so I can also ask them to see if we could use space there (although they don't have good desky space I don't think). Microsoft Reactor might be a nice option too

[2019-09-18 07:57] hewIngram commented on #29
Awkward accidental close....

[2019-09-18 07:58] Ankcorn commented on #29
So awkward 😅

On Wed, 18 Sep 2019, 08:57 Hew Ingram, <notifications@github.com> wrote:

[2019-09-18 13:44] leggsimon commented on #30
@seanmtracey !!!! In Berlin???

[2019-09-20 12:02] seanmtracey commented on #30
@leggsimon Hamburg, but possibly Berlin at the end of the week. Let's try and figure out drinks when I know a bit more about my schedule 🍻

[2019-09-24 08:38] admataz commented on #30
hello @lnug/organisers  - who's coming tomorrow?  - I've put myself as MC - but if anyone is up for it - please feel free - the mic is open if you want it.

[2019-09-26 08:31] hewIngram commented on #29
Ok so... a post LNUG, beer inspired idea:

people get paired/teamed up (with a mix of experience levels). Each group gets dealt with something on by way of inspiration (my initial idea was web api bits like accelerometer, ambient light, mic, camera... that kind of thing but - not nodey at all. @Ankcorn you had an idea to make it more node-based right?).

Each group gets 10 mins of planning, 2 hour

[2019-09-26 22:18] admataz commented on #29
I like this - mini hackathon idea. Let's keep the bar low for fun/learning - so we should provide inspiration/ideas that are easy to get going with - and I think we should encourage nodi-ness in terms of what is developed - but happy for us to take on things like web apis, or maybe bring along a few iot bits - sensors etc etc. so people can build things... connected by node

[2019-09-27 07:58] Ankcorn commented on #29
Hew this is an inspired idea 🎉

To make it nodier we could use a different free rest API https://github.com/public-apis/public-apis

The iot stuff would also work really well! You both are the best 🤘

[2019-09-27 08:08] hewIngram commented on #29
IOT stuff would be DOPE. Maybe @seanmtracey can help us out with some IOT bits?
And yes, some fallback ideas/inspiration is a must

[2019-09-27 10:23] hewIngram commented on #29
Maybe each 'card' or whatever it is we give has some ideas on the back?

[2019-09-27 12:54] Ankcorn commented on #29
There is an api for public-api's api list. We could use the public api of public-api and then send them to a print api like https://pwinty.com. What a great use of api's that would be!

🤪

[2019-10-06 14:04] hewIngram commented on #29
Shall we have a chat about this this week? I feel like we can get the wheels moving on it...

[2019-10-06 16:58] seanmtracey commented on #29
Hey all, just saw this. Can totally help with IoT stuff, absolutely up for catching up and figuring out details for a mini-hackathon :)

[2019-10-07 19:42] neshka opened #31 "LNUG #89 - October 23rd 2019"
@lnug/contributors @lnug/organisers
Who's going to be around to help in October?

# Checklist
## Pre Event
- [x] Find/ confirm speakers! and add them as contributors to github
- [x] Who will emcee this month? @admataz
- [x] Registration - this is all on Meetup now @admataz
- [x] Website updates @admataz
- [x] Create Meetup event (copy last month) @admataz
- [ ] Monthly Mailer (Mailchimp)
- [x] Sli

[2019-10-11 08:39] hewIngram commented on #31
I'll be about - happy to MC if we need one?

[2019-10-11 13:45] seanmtracey commented on #31
Argh, I'm out of town again this month :/ Sorry, I've been a bit useless lately, I'm gonna work on freeing up my calendar 😅

[2019-10-16 09:39] Ankcorn commented on #29
Hey, now NearST have moved into a larger office we potentially can host it. Still need to sort out some practicalities.

I was thinking the 4th or 11th of November does anybody have a preference?

[2019-10-16 10:01] seanmtracey commented on #29
I can't do the 11th, so the 4th would work better for me. If more people can do the 11th, go for it :)

[2019-10-17 08:55] admataz commented on #31
@hewIngram  - let's bounce the MC around on the night between us - keep it moving and light. We'll need to be strict with speakers on time - in a kind and fun way

[2019-10-17 09:21] Ankcorn commented on #29
Thats all I need to know. I will try find a venue for the 4th! 👍

[2019-10-17 09:26] hewIngram commented on #31
Sounds like a plan!

[2019-10-23 14:53] admataz commented on #29
Hey @Ankcorn ! How's it going? Do you want to give this a push at tonight's meetup?

[2019-11-04 10:33] Ankcorn commented on #29
https://www.meetup.com/london-nodejs/events/266200568/ we are live on meet up!

[2019-11-04 11:54] hewIngram commented on #29
SWEEETT - shall we grab some time to sit down and hash out he idea and work out what needs doing?

[2019-11-04 13:13] Ankcorn commented on #29
Totally! Anybody fancy a beer some time this week?

[2019-11-04 14:38] hewIngram commented on #29
This is an exciting feature of Sean replying by email:
![hairy sean](https://lh3.googleusercontent.com/a-/AAuE7mBPnj8cwqGYzrCFmSoBg96I8JTK_-23omoHHGQX=s94-p-k-rw-no)

I can't do thursday or Friday....

[2019-11-04 15:12] seanmtracey commented on #29
It's the only proof that I was young once 😂

[2019-11-04 21:04] admataz commented on #29
sorry - mad week in evenings for me this week (other than Thursday) - I can do a lunchtime if that suits anyone?

[2019-11-04 22:24] Ankcorn commented on #29
I could do lunch, where are we all based.

I'm in hoxton.

[2019-11-04 22:37] seanmtracey commented on #29
I can also do lunch. Wed/Thur/Fri work for me. I can be anywhere in London, so wherevers best for everyone is perfect for me :)

[2019-11-04 22:50] admataz commented on #29
Anywhere is fine for me too - Thursday or Friday would be good.

[2019-11-05 07:42] hewIngram commented on #29
Yeah Lunch works - I'm around Aldgate so somewhere east would be handy. Shall we say Thursday?

[2019-11-05 12:47] admataz commented on #29
Thursday lunchtime it is what time suits?  - I can do any time between 11 and 2pm ... @hewIngram, @Ankcorn  - it's your hood - so let us know where to meet!

[2019-11-05 14:22] seanmtracey commented on #29
11 - 2 works for me as well :)

[2019-11-05 14:41] Ankcorn commented on #29
Same 👍 I will have a look for somewhere maybe around Moorgate?

[2019-11-05 14:58] hewIngram commented on #29
Thanks Thomas!

[2019-11-06 10:36] Ankcorn commented on #29
White Hart in Whitechapel looks like it has a respectable late breakfast menu? https://drive.google.com/file/d/1tpSjESQydLOy50KCnSNMdlNIqvS0uRWT/view

https://www.google.com/search?client=safari&rls=en&q=white+hart+london&npsic=0&rflfq=1&rlha=0&rllag=51512516,-90194,2499&tbm=lcl&ved=2ahUKEwjEporVsNXlAhWxoVwKHcqCBmMQtgN6BAgLEAQ&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:9&rldoc=1#rlfi=hd:;si:1806151

[2019-11-07 09:18] Ankcorn commented on #29
How does 12 work for everyone

[2019-11-07 10:11] admataz commented on #29
12 is good for me - see you there

[2019-11-07 10:13] hewIngram commented on #29
Sounds perfect - see you in a bit

[2019-11-07 10:13] Ankcorn commented on #29
Actually I might be 20 minutes late so 12.20-30 would suit me better. We have hen from epsagon to come give us a talk on observability till 12.

[2019-11-07 10:16] admataz commented on #29
ok cool see you a little later

[2019-11-13 16:15] seanmtracey commented on #29
Hey everyone,

Spoken to my team at work, we can buy the food t this event :)

[2019-11-13 17:57] Ankcorn commented on #29
Nice!!! 🎂 Thanks Sean.

[2019-11-13 18:05] Ankcorn commented on #29
I had a look at compiling a list of the good api but there are too many!

Instead I will try make  a list of 3 project ideas (and maybe make starter repo's for them) that could apply to most api's and some guidance around choosing an api.

I'm not going to look at ways we could provide a way to deploy anything as it probably adds to much complexity.

[2019-11-24 21:31] admataz opened #32 "LNUG #90 - November 2019"
@lnug/contributors @lnug/organisers

Almost everything in place, but never too late to start the list! Who's coming this Wednesday?

Choose a task...

# Checklist
## Pre Event
- [x] Find/ confirm speakers! and add them as contributors to github
- [x] Who will emcee this month? @seanmtracey
- [x] Registration - this is all on Meetup now @admataz
- [x] Website updates @admataz
- [x] Create Meetup ev

[2019-11-24 21:32] #28 closed, assigned to nobody

[2019-11-24 21:32] #30 closed, assigned to nobody

[2019-11-24 21:32] #31 closed, assigned to nobody

[2019-11-27 12:11] seanmtracey commented on #32
Hey everyone, I believe I volunteered to MC tonight at our last meeting, so I've whacked my name above. If anyone else was planning to do it, let me know and I'll happily withdraw :)

[2019-11-27 12:15] admataz commented on #32
Hey @seanmtracey  - you're welcome to MC - but given you are also doing a talk - maybe someone else can pick up the mic for MC duties?

@hewIngram ? @Ankcorn ?

Also - whoever does it can you also do the slides?

[2019-11-27 16:41] hewIngram commented on #32
I'll be about so happy to jump in as MC

[2020-01-06 10:31] admataz opened #33 "LNUG 2020 🎉 - let's do this!"
@lnug/organisers

I hope you’ve all had a good break from it all. Today is my first day back at things…  a few things to work out.

We have a meetup planned for 22 Jan - a bit to do for that:

- we need to look for a new venue - I think I shared with you all that Michelle at Conde Nast gave us a nudge  - they want to host some new meetups - it’s been a good time with them - but it’s time to move.

[2020-01-06 12:36] hewIngram commented on #33
A catchup sounds like a plan!

Do we need a venue for Jan?

For this months I was thinking it might be nice to have a retrospective-style 'Things I like about LNUG' and 'Things I don't like about LNUG' type thing to try to get feedback from attendees

[2020-01-06 12:46] admataz commented on #33
yes, if we can find a new venue, that would be great - otherwise I will go cap in hand to Michelle - she said it would be ok - but I don't want to go back to Conde without even trying to find an alternative - seeing as they asked.

an interactive session is a good idea - maybe an opportunity to do something fun to draw out some participation.

How is your week looking?

[2020-01-06 14:37] Ankcorn commented on #33
An interactive session sounds like good fun! 👍

A retro type thing would be very interesting.

I can try reach back out to depop and see if they are still onboard with hosting. We could try and arrange our organisers meetup to start with a little tour of the venue to see if it would be appropriate.

I'm at another meetup on tuesday night https://www.meetup.com/eXtreme-Tuesday-Club-XTC/events/wcwwm

[2020-01-06 16:04] hewIngram commented on #33
I'm pretty free this week I think - out Weds but other than that good.

[2020-01-06 17:12] seanmtracey commented on #33
I should be able to do something towards the end of this week.

Regarding the venue, could we put out a tweet asking people if there's anyone willing to host us? We should definitely include a big LNUG thank you to Conde for being so generous over the last few years if we do.

[2020-01-06 21:51] admataz opened #34 "LNUG meetup venues for 2020"
@lnug/organisers @lnug/contributors

Hey all  - we are on the lookout for new venues to host our meetups in 2020. There are a few reasons for this:

- we have been at Condé Nast for over 18 months - they have been great hosts - and it's been a special venue - but we don't want to overstay our welcome - and they are keen to allow other meetup groups to use the space - which I think is fair enough
-

[2020-01-06 22:35] admataz commented on #33
venue update: I've created a separate issue for this at #34  - and I've emailed a few of the people who have offered help over the last year or two - hopefully something comes of it - but please do keep a look out for something.

@seanmtracey  - yes we will be sure to thanks Conde greatly - they have been fantastic hosts.

Meeting this week - Thursday or Friday daytime is best for me - but can do

[2020-01-07 11:55] admataz commented on #33
Another update:
I've had some response from the tweet I put out last night:
- Beamery  - city/ finsbury based - I spoke to the guy at a recent meetup, and seems keen
- Will Morgan has volunteered a space in WeWork York Road (Waterloo)
- Powster have new offices in Hackney Wick (maybe a bit far out)

I'll contact Beamery with a view to visiting their space Wednesday or Thursday  - how does that sui

[2020-01-07 13:05] Ankcorn commented on #33
I had a chat with Aris and he offered to reach out to some of the cityjs sponsors to see if they would be interested. Also his company Buildit by Wipro digital are interested.

We could do a lunch again?

Do we want to try and move around the city this year or do people think its better to have one venue?

[2020-01-07 15:52] admataz commented on #33
Thanks @Ankcorn ! There are pros and cons, but - I think that we should try move around a bit - see how that goes. I like the idea of it in terms of including more hosts and circulating to other spaces - which can also help draw different people to the events. It's worth a try anyway. We have been a bit exclusive with Conde because it's so nice - but it's also meant turning offers of help away.

L

[2020-01-07 16:00] admataz commented on #34
☝️ @seanmtracey  ?

that looks lovely - maybe we should do a cabaret?  ;)
<img width="151" alt="image" src="https://user-images.githubusercontent.com/395101/71908464-f92aa180-3165-11ea-8b85-40fc74cc1ba3.png">

We don't have anything standard written up - other than a profile I reuse sometimes - which gives an idea of where we're coming from (see below). Otherwise people _usually_ like to host us b

[2020-01-07 16:10] hewIngram commented on #34
Finally - we can realise our browser panto plans @seanmtracey

[2020-01-07 17:25] seanmtracey commented on #34
Let it begin!

[2020-01-07 17:26] seanmtracey commented on #33
Thursday lunchtime works for me too :)

[2020-01-08 08:04] hewIngram commented on #33
Beamery are at Moorgate right? I've been to a meetup hosted there before and it was a decent space.
Ozone isn't too far away and is nice. Shall we tweet out an open invite in case anybody is up for getting involved as an organiser?

[2020-01-08 11:38] admataz commented on #33
Today's update:
### 1. Venue and lunch:
I'm meeting Milo Abel at Beamery tomorrow (Thursday) from 12:00-12:30 - she's going to show me around. Who would like to join us - and then we can get lunch and discuss plans after that?

### 2. Twitter and accounts
I've made a start at cleaning up our organisers accounts etc - you should have received an invitation to the [@LNUGorg](https://twitter.com/lnug

[2020-01-08 17:25] hewIngram commented on #33
Happy to join tomorrow for Beamery!

[2020-01-08 17:32] seanmtracey commented on #33
Ditto!

Re. Venues for lunch in Moorgate: The Tokenhouse is pretty good, and usually not too busy around lunchtime. It's ~5 minute walk from either Moorgate or Bank tube station.

[2020-01-08 21:54] admataz commented on #33
Great - let's meet outside [WeWork at 131 Finsbury Pavement](https://www.google.com/maps/place/WeWork+131+Finsbury+Pavement/@51.5201758,-0.0897586,17z/data=!4m12!1m6!3m5!1s0x48761cac021505cf:0xbb962e52290d79f9!2sWeWork+131+Finsbury+Pavement!8m2!3d51.5201758!4d-0.0875699!3m4!1s0x48761cac021505cf:0xbb962e52290d79f9!8m2!3d51.5201758!4d-0.0875699) tomorrow at about 11:55 - apparently we all need to ch

[2020-01-08 21:54] admataz commented on #33
My number - if anyone's delayed or lost is 07757234443

[2020-01-08 21:55] Ankcorn commented on #33
I might not make it, we are interviewing somebody 🎉and I'm not 100% certain of the schedule and who is doing what yet.

[2020-01-09 11:11] seanmtracey commented on #33
Hey all, not going to be able to make the Beamery meet in time (buried in post-holiday emails atm), but should still be able to make the Tokenhouse meet. Will keep updated :)

[2020-01-10 01:19] admataz commented on #33
Quick follow up from our earlier meeting:

- Beamery have confirmed - we're on for the 22nd
- Let's get details for the event finalised - I've created a talk proposal for the retro - let me know if you want it different - or make another?
- Maybe space for another lightning talk  - any preferences ideas, speakers?

There's more we discussed - I'll try summarise more tomorrow. !

[2020-01-13 08:09] hewIngram opened #35 "LNUG #91 - January 2020"
@lnug/contributors @lnug/organisers

Realised we were still after one of these!

Choose a task...

# Checklist
## Pre Event
- [x] Find/confirm a vanue
- [x] Find/confirm speakers! and add them as contributors to github
- [x] Who will emcee this month?
- [x] Registration - this is all on Meetup now @admataz
- [x] Website updates @admataz
- [x] Create Meetup event (copy last month) @admataz
- [x] Mo

[2020-01-17 16:39] admataz commented on #35
Milo from Beamery has suggested the pub for drinks after: http://singertavern.com - looks good

[2020-01-17 16:52] seanmtracey commented on #35
Thought that looked familiar, it's my bolt hole after a long day! Good place, great range of beer, plenty of space.

[2020-01-20 17:13] hewIngram commented on #35
Do we have an MC?

Also: I can get there early is anything needs doing - just let me know.

[2020-01-20 23:36] admataz commented on #35
MC  - I'm happy to do it if there's no one else keen...  let me know

[2020-01-21 00:33] admataz commented on #35
For whoever MCs - here's a proposed running of events for the evening - I feel a little nervous because new venue, and different kind of programme - so many moving parts!  @hewIngram  - let me know how this fits in time/space wise for the interactive session you will be coordinating:

[code]

[2020-01-21 08:10] hewIngram commented on #35
I think we maybe leave retro-related stuff until the session after the break. I think trying to do much after Rob's talk might not work (although I appreciate getting people up and down again is annoying).

I might try to get a bunch of people to scribble down three words that describes LNUG before we start and in the break and then have the retro session being:

Quick intro about the year that wa

[2020-01-22 15:04] Ankcorn opened #36 "LNUG - Workshop #2 - 4th March 2020"
Theme: Create an LNUG Talk Proposal

LNUG is your local friendly Node.js user group, inspired by [GDCFP](https://www.globaldiversitycfpday.com) short for Global Diversity Call for papers day. We are running a LNMTPE. (too many acronyms? 🤣 okay here's what we plan to do)

We the LNUG organiser team and volunteers will be here to help you plan, and submit your first meetup talk.

Everyone is welcome

[2020-01-22 16:07] admataz commented on #36
awesome! great idea

[2020-01-23 15:24] seanmtracey commented on #35
![MVIMG_20200122_203842](https://user-images.githubusercontent.com/913687/72997424-43fa1980-3df4-11ea-8d8d-28cb788e96f9.jpg)
![MVIMG_20200122_203818](https://user-images.githubusercontent.com/913687/72997425-43fa1980-3df4-11ea-8974-95a13050ca05.jpg)
![MVIMG_20200122_203755](https://user-images.githubusercontent.com/913687/72997427-4492b000-3df4-11ea-834b-db31344bd84b.jpg)
![MVIMG_20200122_203739](

[2020-01-23 15:24] seanmtracey commented on #35
I have no idea why they're upside down 😅

[2020-01-23 15:33] leggsimon commented on #35
![upsidedown](https://user-images.githubusercontent.com/11544418/72998388-07cbb680-3dfe-11ea-83e1-9466c10ccb45.gif)

[2020-01-25 11:40] admataz commented on #29
I think we can consider this a great success - and hopefully we can repeat sometime again!

Thanks @Ankcorn for this. Brilliantly executed!

[2020-01-25 11:40] #29 closed, assigned to nobody

[2020-01-25 11:41] admataz commented on #32
video is now on our channel: https://www.youtube.com/playlist?list=PLam_80-FY3vRrbZMQYgxNuG4zdr7R8nhz

[2020-01-25 11:41] #32 closed, assigned to nobody

[2020-01-25 11:43] admataz commented on #33
in closing this issue - I think it's worth mentioning and high fives all round in how much we achieved this month - let's meet again soon and keep up the organiser momentum.

Thanks all.

[2020-01-25 11:43] #33 closed, assigned to nobody

[2020-01-25 11:49] admataz commented on #36
@Ankcorn - I love it that we are starting to run more varied events and concurrently to the regular meetups - thank you for this!

I will leave it to you to create the relevant details in meetup.com etc?

Also let's get some twitter activity around this event

Raises a couple issues - our website only really accommodates a single event at a time - and even then all the detail gets lost when the ne

[2020-01-25 11:51] admataz commented on #27
I've extracted the relevant todos and will raise separate issues if neccesary for the remainders

[2020-01-25 11:51] #27 closed, assigned to nobody

[2020-01-25 11:52] admataz commented on #23
superceded by #34

[2020-01-25 11:52] #23 closed, assigned to nobody

[2020-01-25 11:52] admataz commented on #21
These are now a part of the MC slide deck

[2020-01-25 11:52] #21 closed, assigned to nobody

[2020-01-25 14:12] Ankcorn commented on #36
Thanks @admataz

I will start to get the word out.

On the website I agree, it would be awesome to have a filtered view of what's on GitHub. It could be a good way to get people to participate in organising

[2020-01-31 09:02] hewIngram commented on #34
Had a meeting with ASOS yesterday and they occasionally run meetups (and have a stupidly large meeting space) - they use a bunch of node apparently and are up for hosting us. They sounded like they'd need to book it in a little in advance so will follow up with them and see.

Only issue: their office is here: NW1 7FB so close to Mornington Crescent and like 10-15 mins from Euston or Kings cross. I

[2020-01-31 09:12] hewIngram commented on #36
This is exciting Tom! I'll pop along - let me know if theres anything I can help with or prep before hand.

[2020-01-31 13:48] seanmtracey commented on #34
Ooof, that is far, but it is ASOS, would be cool to see how things work over there.

[2020-01-31 13:49] seanmtracey commented on #34
IIRC correctly, Sainsbury's have a great meeting space that they lend out to communities from time to time somewhere around Farringdon. I could try and reach out to someone around there for a future event?

[2020-01-31 16:25] admataz commented on #34
Thank you @hewIngram   - NW1 (or the part where ASOS is based anyway)  is still pretty central in my opinion. I'd say we should try arrange there for a month

@seanmtracey - thanks - I've heard good things about the Sainsbury's space - but never been there - happy to try that out too

[2020-01-31 16:30] hewIngram commented on #34
Sounds good all - will follow up with them. Curious to try to get a speaker out of them tbh - I had no idea they used Node and they must have some interesting things to share.

[2020-01-31 17:00] admataz commented on #34
Here's my checklist of venues that have been mentioned - let's follow up and get some in the calendar.

Did everyone else get the invitation to the Powster party next week? I'd like to pop in - just to see - even though it's probably too far for an LNUG - anyone else up for that?

- [x] adam rabinovitch  - **Beamery** - I'm sure we'll be back after they move
- [ ] Pusher - Alex the video guy is sp

[2020-01-31 17:02] admataz commented on #34
@hewIngram Some engineers from ASOS were in touch about a year or two ago with a view to contributing - but something got in the way and I never heard back - glad you're in contact again.

[2020-02-03 10:50] Ankcorn commented on #36
Thanks! Currently the only thing troubling me is drumming up a good croud. If everybody could share to their circles and appropriate places that would be amazing 🤗

[2020-02-13 14:07] admataz opened #37 "LNUG #92 - February 2020"
@lnug/organisers

We are two weeks away - and I'm pleased to say we have a venue!

@Ankcorn and @admataz went to visit yesterday - and looks really nice

[TotallyMoney](https://www.totallymoney.com/)

[code]

We are still in need of another speaker - so please ask aroun.

Choose a task...
# Checklist
## Pre Event
- [x] Find/confirm a vanue
- [x] Find/confirm speakers! and add them as contributors

[2020-02-20 10:59] admataz commented on #37
⭐️ 🌟
@lnug/organisers @lnug/contributors  - can you press gang your friends/workmates/ for a second talk  - or a couple lightning talks for next week? It would be good to fill up the schedule...

[2020-02-21 21:28] admataz commented on #37
ping! anyone? Otherwise you'll get me for a 3rd LNUG running 😁

[2020-02-21 23:53] Ankcorn commented on #37
pong! I can mc ☺️

It's also super easy for me to get there early and do any setup required.

[2020-02-24 11:22] seanmtracey commented on #34
Question about the above mention. With the 3 months, do you mean "Can IBM do this 3 months from now?" or "Can IBM host us for 3 months?". The answer to both is "yes", but I just want to check before I kick those wheels in motion.

[2020-02-24 17:34] admataz commented on #37
excellent! @Ankcorn is our MC for the night!!

[2020-02-26 11:27] Ankcorn commented on #37
If anybody has anything to add to the slides let me know

[2020-02-26 11:48] admataz commented on #37
@Ankcorn  just to ping Aris and ask if there's anything specific to CityJS Conference he'd like to promote.

[2020-03-02 13:40] hewIngram opened #38 "LNUG Workshop #3 - QEWD-JSdb"
I feel like this might take some work to get right but it sounds like an awesome workshop to run touching on a really fascinating bit of technology!

@robtweed in my head there are a couple of things we need to think about:
- a dataset/problem that really illustrates the power of using a multi-model database. From looking at the docs something that lets us use the db as a relational db and a noSQL

[2020-03-04 21:56] hewIngram opened #39 "Assorted LNUG event ideas"
Tonight was awesome, I think there was some super interesting ideas being discussed. I'd love to kick off a thread to record those ideas while they're fresh.

Some key ones that I remember:
- More lightning talks!
- Content aimed at raw Node.js use cases (building a http server, cli tool etc)
- More interactive short talks
- The idea of hot tip/series of talks (cc @leggsimon - gone but not forgott

[2020-03-04 22:23] admataz commented on #39
thanks all for the discussions - I really enjoyed this evening. My list of lightning talk ideas that I rattled through earlier (some of which are mentioned above). Anyone who wants to take these up... or if you have a discussion with a potential speaker who's looking for a topic...

-  **naked node.js** - no dependencies, no express. no leftpad. getting value and understanding from core modules. c

[2020-03-10 16:03] admataz opened #40 "LNUG #93 - 25th March 2020"
@lnug/organisers

So all going well and we aren't on some lock down or ban on public gatherings - we have a meetup to arrange on 25th March.

I've confirmed a venue with Trussle - it's a little smaller than we are used to - but it's a nice space.

<address>
 1-3 Dufferin St, London EC1Y 8NA
</address>

[Trussle Mortgages: Free Mortgage Advice & Broker](https://trussle.com/)

## NOTE ABOUT HYGIENE

[2020-03-11 10:02] beauallison commented on #40
Venue Checklist Items
- Arrival about 30~ minutes before should be more than enough time to setup
- We will have a fridge nearby on the night, no need for a tub or ice
- We have rubbish bags available, @yannislionis can direct on the night but we will take care of putting rubbish away
- We will have tables available for any food / beverages

[2020-03-13 09:21] hewIngram commented on #40
So.... LondonCss was remote last night and by all reports (i.e. @leggsimon on twitter and @Ankcorn ).... thoughts? Pretty sure we could ask Oliver at LondonCss for advice if needs be.

My whole company has gone remote so presumably others are and attendance will be down if we go ahead in person.

[2020-03-13 10:19] admataz commented on #40
thanks @hewIngram  - yes - it's looking more and more that way... and it is starting to feel like it's impossible to sift out the FUD - and it could be considered irresponsible  at this point to go ahead with an in person meetup event. We have about 63 people signed up  - but I don't know how many of those are optimists  like me :) . I think you're on the email list that included cameraman Alex's

[2020-03-16 11:43] admataz commented on #40
@lnug/organisers
It probably comes as no surprise that we have had confirmation from our hosts at Trussle that they will not be able to host. We should start thinking about whether we want to do this remotely.

Please add your thoughts here

[2020-03-16 11:46] hewIngram commented on #40
Definitely for the best!

Oliver shared this as how he did LondonCss: https://dev.to/_phzn/running-my-first-online-meetup-o1h

[2020-03-16 11:47] hewIngram commented on #40
Oh wait - I know that face.
@seanmtracey reckon we can rope Kevin in to give us a hand? I've used OBS a bit but definitely not proficient

[2020-03-16 12:35] Ankcorn commented on #40
I was literally about to post kevins article! @phazonoverload

Its very good, I think it could be a super fun challenge to host an online meetup. I am familiar with OBS (from my league of legends days). But have not configured something with as many scenes as that.

With some preperation I think we can make a huge success

[2020-03-16 12:43] hewIngram commented on #40
Dat username...

"from my league of legends days" - we need to talk about this at some point @Ankcorn

Yeah I think it'll work fine. Just needs a little prep

[2020-03-16 12:59] seanmtracey commented on #40
That reminds me, how do we get @phazonoverload on the organisers mailing lists etc?

[2020-03-16 14:57] phazonoverload commented on #40
Hiya! I'm now a LNUG organiser so I'm happy to do all the work related to taking the event online. External to me, we need:

* A place to host - Twitch/YouTube Live account
* Moderators for chat - I would prefer not to do this if I'm operating the stream
* A video call for all the speakers - Hangouts/Skype/Vonage meetings ;)
* Ideally one MC
* Graphics for the various part of the stream. I am happ

[2020-03-16 15:04] Ankcorn commented on #40
![lnug](https://user-images.githubusercontent.com/7361428/76771671-9d008100-6797-11ea-8a15-48526a92498d.png)
I have made a square lnug logo with a dark grey background for the stream. Will this work

[2020-03-16 15:05] phazonoverload commented on #40
Give me whatever you have and I'll make it work.

EDIT: got just the logo on a transparent BG?

[2020-03-16 15:07] Ankcorn commented on #40
I was going to get it printed as lnug stickers :P its quite low res so I might create a bigger one in a this evening

[2020-03-16 15:11] admataz commented on #40
@Ankcorn  - will anything [here](https://github.com/lnug/resources/tree/master/logo) help you ?

https://github.com/lnug/resources/tree/master/logo

[2020-03-16 15:19] hewIngram commented on #40
Super happy to moderate obvs.
@admataz do you have the logins for: https://www.youtube.com/channel/UC-qjgj2TnRoI1ZmFFaN3FeQ
Would be sensible to use it for the live stream - happy to investigate if you can send over the logins

[2020-03-16 15:35] admataz commented on #40
@hewIngram  - it's all 2fa - can you confirm a google account you can use and I'll add you as a contributor? I think that will work

[2020-03-16 15:57] hewIngram commented on #40
Fo sho: hew.ingram@gmail.com

Thanks! (also while we're here - the Hew Ingram that is an admin on the meetup page is an old account I don't have access to - if someone can switch to hew.ingram@gmail.com that'd be cool)

[2020-03-16 16:18] admataz commented on #40
@hewIngram  - added you to YouTube - let me know if you have any trouble.
For meetup - I assume it's this account, and not some imposter with your name?!
https://www.meetup.com/london-nodejs/members/239196087/

[2020-03-16 16:23] hewIngram commented on #40
Yeah it's that one. I had another meetup account with my old Gousto email for some reason which is the one that was added before.

[2020-03-16 20:13] Ankcorn commented on #40
Any time @hewIngram,

It looks like we need to find some speakers, I might have found a good one. Just waiting on him to submit it.

[2020-03-18 12:02] admataz commented on #40
Hello everyone.

my update:
I've updated the meetup page and messaged attendees. Also let Sam the pizza guy know there will be no event. Our one speaker has pulled out - so if we are going ahead with the online event we need to line something up. I'll put out a call on twitter - but let me know if anyone has ideas.

Would like to get the details on how we run this finalised asap  - @hewIngram @Ank

[2020-03-18 12:17] hewIngram commented on #40
Yup - the only thing looking at using Youtube Live is that I don't get that option on the LNUG channel - not sure if it's permissions related.

Screenshots of mine vs LNUG:

<img width="1605" alt="Screenshot 2020-03-18 at 12 15 58" src="https://user-images.githubusercontent.com/17004905/76959823-47041880-6912-11ea-8d7d-c3e4aba432f8.png">
<img width="1605" alt="Screenshot 2020-03-18 at 12 15 51" sr

[2020-03-18 12:23] Ankcorn commented on #40
A colleague has built an opensource library for email templating and its
super nice. I really want him to do a talk about it

Thomas

On Wed, Mar 18, 2020 at 12:02 PM Adam Davis <notifications@github.com>
wrote:

[2020-03-18 12:25] phazonoverload commented on #40
If you can get a stream key for me from YouTube/Twitch, let speakers know that we'll run the event through Google Hangouts (& I'll want to test with them half hour before the event), and elect one person to be the MC, then I'm happy to sort all stream logistics and don't need much from anyone else :)

What time are we aiming to go live?

[2020-03-18 12:28] Ankcorn commented on #40
I watched serverless london meetup online last night and it did pre recorded talks, the format was not as engaging or interesting as london css. I think the live nature of londonCSS had a lot of value.

[2020-03-18 12:58] admataz commented on #40
@hewIngram - damn - I guess when they say "can add anything" they don't really mean it.

<img width="539" alt="image" src="https://user-images.githubusercontent.com/395101/76962492-3efaa780-6917-11ea-84a8-1084a1c7af9e.png">

@phazonoverload  - as the owner I can set up a stream and share keys with you, is that right? (never done this before). If I set this up now as a stream starting at 18:30 on W

[2020-03-18 12:59] phazonoverload commented on #40
All I’ll need it a stream key for on the day. That timing is fine.

[2020-03-18 22:42] Ankcorn commented on #40
How many talks do people think are appropriate?

Also, I think it would be awesome to continue some of the social things that make lnug really fun to be apart of. We could start a zoom call between the talks, the free tier supports up to 100 people. Doing our jobs table and giving people a way to socialise could be nice.

[2020-03-19 14:40] admataz commented on #40
@Ankcorn - I think up to 3 talks is good - and I agree - I'd love to continue the social aspect as much as possible. Zoom have a breakout function which could be interesting - I'm just wary of getting people to switch streaming platforms - can Zoom work for the streaming @phazonoverload ? I can ask at NearForm about using a pro account (no guarantees). Or does can we do something with google meeti

[2020-03-19 15:57] bernardbaker commented on #40
Hi everyone,

Joining the conversation...

[2020-03-19 19:38] phazonoverload commented on #40
If we’re going to use Zoom then I’m not required. My personal feelings are that we SHOULD move platforms between socials and talks - with talks happening on twitch or YouTube as the lowest barrier option.

Let me know what you think and I’ll write a little primer this weekend on how it should all work.

[2020-03-19 21:38] Ankcorn commented on #40
Ah @phazonoverload I think we might have got our wires crossed, even if we use zoom I imagine we would still want it to be streamed.

The primer sounds like a great idea, if you need any dummies to test it out on I am happy to be of service!

[2020-03-20 17:57] phazonoverload commented on #40
Here is the plan:

We will handle the speakers through a Google Hangout. Only speakers, me, and the MC will be in this call. This group will also have a private chat going on a platform (probably WhatsApp). We will ask the speaker to keep an eye on this as it is our means of communication with them.

For streaming, we can use Twitch or YouTube Live. I've honestly had better success with getting an

[2020-03-20 21:43] phazonoverload commented on #40
<img width="924" alt="Screenshot 2020-03-20 at 21 40 49" src="https://user-images.githubusercontent.com/1461554/77208456-c0a72c80-6af3-11ea-9737-e934a2736ffa.png">

<img width="943" alt="Screenshot 2020-03-20 at 18 37 23" src="https://user-images.githubusercontent.com/1461554/77208472-c735a400-6af3-11ea-9b79-54eb206913ef.png">

Where the slack URL is where we'll push them after the event.

[2020-03-21 21:55] Ankcorn commented on #40
Twitch is more fun than youtube, they have great emoji's. Thanks for doing all this work @phazonoverload. Truly a heroic effort!

The only chat thing we currently have is https://gitter.im/lnug/discuss it's not very active

[2020-03-22 16:31] phazonoverload commented on #40
I've built an online social space (for events generally) that we can use for after this meetup.

https://cafe.lws.io/#/lnug

Let me know what you think. I'm trying to emulate the act of moving around multiple smaller groups with a drink to have convos. I've created 3 'tables' but can create more.

[2020-03-22 19:37] Ankcorn commented on #40
Dude, that is amazing! It's such a good idea

On Sun, 22 Mar 2020, 16:32 Kevin Lewis, <notifications@github.com> wrote:

[2020-03-23 18:07] admataz commented on #40
thank you @phazonoverload  - looks great - can you add a room for "Jobs Table"

Also, can we make sure an LNUG organiser is assigned to each room?

What access do you need for YouTube? I can make you a manager, and can set up the Live Video stream for you. What's your Google ID? And can you provide me with a secure way to share the streaming details with you?

Many many thanks

[2020-03-23 18:53] hewIngram commented on #40
This is super cool.
I'll be about on the night and can help with whatever - shall we schedule in 20 mins at some point to give everything a test run (if that hasn't been done already)

Do we have an MC yet? Might be nice coming from you @admataz given you're probably the face of LNUG to most. But happy to do it if it's needed.

[2020-03-24 00:26] admataz commented on #40
@phazonoverload  - I have set up a scheduled stream on the LNUG youtube channel - send me your details and I can add you as a manager to the channel.
The url is: https://www.youtube.com/watch?v=VV9-pLz_6Bo

I've introduced you to speakers in the relative talk proposal issues - let me know if you need further help coordinating:
https://github.com/lnug/speakers/issues/187
https://github.com/lnug/spe

[2020-03-24 18:03] hewIngram commented on #40
I'm easy to test tonight or some time tomorrow if @phazonoverload is game?

[2020-03-24 18:12] bernardbaker commented on #40
Happy to test as well.

Regards,

Bernard T. A. Baker

On Tue, Mar 24, 2020 at 6:03 PM Hew Ingram <notifications@github.com> wrote:

[2020-03-24 18:49] phazonoverload commented on #40
Hi! Just saw this, sorry. I can test this at 8pm.

Use https://meet.google.com/dvh-kmao-ntc and we can talk it through, and then test it. I only really need one other person - Hew? - but happy for others to join.

[2020-03-24 18:51] bernardbaker commented on #40
I'll take a seat.

I'll get in touch tomorrow.

Regards,

Bernard T. A. Baker

On Tue, Mar 24, 2020 at 6:49 PM Kevin Lewis <notifications@github.com>
wrote:

[2020-03-24 20:23] phazonoverload commented on #40
We'll test at 6pm tomorrow with speakers. @Ankcorn and @hewIngram feel free to join the test call but during the event you don't need to be on it - just Adam, speakers and myself.

If you both can look after moderating the YouTube chat, and pass any good questions to Adam and I to raise at the end if there's time.

Post-event we'll go to the social cafe app I built, but we really want at least one

[2020-03-24 21:59] admataz commented on #40
Thanks @phazonoverload  for the test run through the set up earlier - and getting all this going.

I've created a private channel in gitter for us to maintain a backchannel during tomorrow's event.

[![Gitter](https://badges.gitter.im/lnug/streaming-backchannel.svg)](https://gitter.im/lnug/streaming-backchannel?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)

@bernardbaker, @tschoffelen,

[2020-03-25 17:45] seanmtracey commented on #40
Hey everyone, I'm trying to grant permissions to the Gitter application, but it wants read + write access to the IBM public + private repos, which I'm not allowed to grant, but can't see an option to disable in the auth flow. Is there an something I'm missing / an alternative auth flow I can follow to get access without granting those rights?

[2020-03-25 17:49] hewIngram commented on #40
WEIRD - I feel like I wouldn't have allowed it access to anything hmmmm

[2020-03-25 17:52] seanmtracey commented on #40
![access](https://user-images.githubusercontent.com/913687/77568903-48f54b00-6ec1-11ea-9dc5-66d130003d00.png)
Yeah, I nearly clicked through w/o reading, but did a double-take when I actually took a second to look. This is what I get.

[2020-03-25 18:04] bernardbaker commented on #40
Can someone send me the URL please?

Regards,

Bernard T. A. Baker

On Wed, Mar 25, 2020 at 5:52 PM Sean M. Tracey <notifications@github.com>
wrote:

[2020-03-25 18:09] seanmtracey commented on #40
@bernardbaker, I believe it's this one https://meet.google.com/dvh-kmao-ntc. @phazonoverload can you confirm?

[2020-03-25 18:13] admataz commented on #40
@seanmtracey  - I'm looking into it

[2020-03-26 16:07] hewIngram commented on #40
Massive thank you to @phazonoverload for all his help making this happen. It was awesome. And to @admataz for stepping up and MC-ing and @bernardbaker and @tschoffelen for wonderful talks.

👏 👏 👏 👏 👏 👏 👏

[2020-03-26 16:09] bernardbaker commented on #40
Thoroughly enjoyed the entire event.

On Thu, 26 Mar 2020, 16:08 Hew Ingram, <notifications@github.com> wrote:

[2020-03-26 16:57] tschoffelen commented on #40
It was fun! Thanks for organising it everyone!

[2020-04-10 23:29] admataz opened #41 "LNUG #94 - 22 April 2020 - remote edition part 2"
Hello @lnug/organisers  - I hope you are all well?

This month’s meetup is still on my calendar - and that’s less than 2 weeks away. We have no speakers lined up so far, so let's see if we can rustle up a few lightning talks for another remote session on the 22nd April…

As we are still in lockdown and  100% remote - we could take a talk from anyone in the world.

### The adjusted-for-remote todo

[2020-04-13 18:14] orliesaurus commented on #41
Interested in hearing about the streaming/remote set up for this upcoming session

[2020-04-15 11:00] phazonoverload commented on #41
I've refined the setup since the last LNUG meetup to ensure I get full control over speaker audio (and can mute it until it's their turn), which was the issue with March's meetup. I'm happy to facilitate the technical parts (using Skype, as my new setup requires), and have just put the event in my calendar. We can use Social Cafe again too if you want.

If you're short on speakers I can do one abo

[2020-04-17 18:01] orliesaurus commented on #41
Is there a reason why you didn't go with Zoom ?

[2020-04-17 18:05] phazonoverload commented on #41
Skype supports NDI in a feature they call [Skype for Content Creators](https://www.skype.com/en/content-creators/). Zoom, and others, do not.

It’s this feature which allows us to isolate each video/audio stream inside of OBS (the software used to stream).

[2020-04-17 18:15] orliesaurus commented on #41
Gotcha, thanks for the explanation!

[2020-04-19 07:02] phazonoverload commented on #41
@admataz with a few days to go until this event I’m just checking if we’re still going ahead?

[2020-04-19 08:17] admataz commented on #41
Hey @phazonoverload  - thanks for chasing... I was thinking the same thing last night.

@lnug/organisers: I have not had any any talk proposals and the meetup page has had minimal response...   so if I'm going to call it off for this week.

Let's try and have an organiser's call this week to arrange and plan a good online LNUG

[2020-04-19 08:18] admataz commented on #41
if anyone thinks differently - let it be known!

[2020-04-19 08:18] phazonoverload commented on #41
Understood. Can you add me to the org group so I can get updates?

Cheers

[2020-04-19 08:24] admataz commented on #41
sure - sorry I thought you were already on the list

[2020-04-21 07:22] Ankcorn commented on #41
Hey all, sorry I have not been around to help at all this month.

I would love an organiser's call, great idea.

Also, I noticed that next 4th Wednesday (27th of May) is 11 years from the day of the initial release of node.js

Maybe we could use that to try and attract some speakers.

Hope to see you all soon

[2020-04-23 12:18] #40 closed, assigned to nobody

[2020-04-23 12:19] #35 closed, assigned to nobody

[2020-04-23 12:19] #36 closed, assigned to nobody

[2020-04-23 12:19] #37 closed, assigned to nobody

[2020-04-23 21:32] admataz opened #42 "catch up and planning for LNUG while lockdown lasts"
@lnug/organisers @lnug/contributors

I'd like to discuss some ideas about how we can continue to be an ongoing positive, informative and fun part of the lives of London node developers whil the lockdown continues  - and think about going beyond trying to replicate the monthly meetup via streaming talk live events.

I think it's clear that it will be a while before we can meet again and enjoy the b

[2020-04-23 21:50] #41 closed, assigned to nobody

[2020-04-24 12:47] Ankcorn commented on #42
Hey that is a really good idea, I'd be up for something like that.

Somehow I have ended up with lots of (relatively) meetings in the diary next week. I can easily do any time Tuesday, Thursday, Friday. But Monday and Wednesday can only do afternoons.

[2020-04-24 12:49] phazonoverload commented on #42
Tuesday and Friday out for me. Others good

[2020-04-25 16:22] admataz commented on #42
I've sent out a meeting invitation to contact@lnug.org for 11am-12pm on ~Wednesday~ Thursday  - if you're not on that list - please do join at https://meet.google.com/azy-scff-uym

[2020-04-25 16:24] admataz commented on #42
I meant Thursday - sorry

[2020-04-25 21:02] Ankcorn commented on #42
Thanks! :)

[2020-04-26 13:17] phazonoverload commented on #42
I’ll be there

[2020-04-29 09:57] hewIngram commented on #42
Looks like I have refinement + a 1:1 then - If I can shuffle I'll be there if not can someone take some notes and I can catch up?

[2020-04-29 21:33] admataz commented on #42
Thanks @hewIngram  - I think we're all reasonably flexible tomorrow - what time could you make it?  I only have a standup to attend at 2:30pm - otherwise open.

Anyone else? @simonmcmanus @seanmtracey @trevorah @clarkie ?

[2020-04-29 21:35] phazonoverload commented on #42
I’m busy 10-11, 2-3 and 4-5 tomorrow, FYI. A day out I don’t think we should shift times - but let’s not make decisions in the call itself and take good notes

[2020-04-29 21:39] admataz commented on #42
ok thanks @phazonoverload  - sorry to assume your open calendar! Let's go ahead with whoever can join us at 11am and we can take it from there.

[2020-04-30 08:19] trevorah commented on #42
I wont be able to stay for the full call today at 11am, but I'll be there at the start. It will be great to see your faces again!

[2020-05-01 09:06] admataz commented on #40
@seanmtracey  - just an overdue follow up to the question about gitter - I found this -does it help answer any concerns?

https://gitlab.com/gitlab-org/gitter/webapp/-/blob/develop/docs/oauth-scopes.md#github

will ping you over twitter too

[2020-05-01 10:38] admataz commented on #42
# LNUG organisers meeting notes

Thanks to all  who could make it - that was a useful chat.  Here’s my summary - feel free to add thoughts and anything I missed.

Thanks for attending:
@trevorah @simonmcmanus @phazonoverload @Ankcorn @admataz

Apologies received:
@hewIngram

I’ve added some TODO’s inline with my notes below - and where I think appropriate added an owner - but feel free to amend.

[2020-05-01 10:41] phazonoverload commented on #42
Remo:

- Speaker tech requirements: essentially it’s just a video call, so a modern browser
- Registration requirements: you can just provide a link to attendees. They have to provide a name and email (Remo requirement, not Vonage, nor do we do anything with it), but that’s it

[2020-05-01 10:45] admataz opened #43 "LNUG #94. 11 years to the day... happy birthday node.js"
On 27th May, the day for this meetup - it will been exactly 11 years since [Ryan Dahl made the first commit to node.js](https://github.com/nodejs/node-v0.x-archive/releases/tag/v0.0.1)

This month we are going to review and explore what has happened since.

Add your talk proposals to https://github.com/lnug/speakers and tag this issue.

[2020-05-04 15:10] orliesaurus commented on #42
Great notes

[2020-05-05 11:28] phazonoverload commented on #42
I've requested use of Remo with the team. I'll let you know when I hear back - should only be a few days :)

[2020-05-05 16:53] phazonoverload commented on #42
All good and approved on our end! I'll reach out with more steps on the event planning card shortly

[2020-05-06 10:02] Ankcorn commented on #43
🍰 We all should have cake!

I am going to reach out to speakers at https://jsvidcon.com/schedule/ If I think there talk would be good for this and see if they would like to submit a talk.

A couple of ones that look node core specific are

* Writing A CPU Intensive Node.js Server With Worker Threads API

* Dissecting Node.js – How it Works Under the Hood

[2020-05-07 09:00] admataz commented on #43
Thanks @Ankcorn  - that looks good.

Update from me:
- I've reached out internally at Nearform - there is some interest from at least one core contributor, and others to give talks - will confirm these when I have more detail
- we have [a talk proposal from Aris](https://github.com/lnug/speakers/issues/190)  - looks good to me
- @phazonoverload  has confirmed the video arrangements for the 27th
-

[2020-05-21 16:48] admataz commented on #43
details of the event are now live on [lnug.org](https://lnug.org) and the meetup page.

@lnug/organisers  - please get the word out!

[2020-05-26 13:10] hewIngram commented on #43
This is awesome - thanks all! I've been totally unhelpful sorry! But I'll be around tomrrow and can help with anything that's needed.

[2020-06-04 23:38] admataz commented on #43
Thanks everyone for your help last week  - I think it went well. Videos are here: [May 2020 - YouTube](https://www.youtube.com/playlist?list=PLam_80-FY3vRe8-rRVUs7TLqSDMwpdJG9)

Feedback discussion post event: https://github.com/lnug/feedback/issues/117

[2020-06-04 23:38] #43 closed, assigned to nobody

[2020-06-04 23:39] admataz commented on #42
Thanks - nice organising everyone

[2020-06-04 23:39] #42 closed, assigned to nobody

[2020-06-04 23:43] admataz opened #44 "LNUG #95 - 24th June 2020"
@lnug/organisers, @lnug/contributors

We are getting ready for our next meetup  - we have a talk confirmed and another potential.

- [x] @phazonoverload - would you be able to help with hosting on 24th June?
- [x] confirm speakers
- [x] update meetup page
- [x] update website
- [x] announce on twitter
- [ ] newsletter update
- [ ] community offers and announcements
- [ ] MC?

[2020-06-05 09:09] phazonoverload commented on #44
All good for June 24 😃 Will assume same timings/requirements.

[2020-06-19 10:37] phazonoverload commented on #44
It's time to schedule in the same platform overview for team + speakers. Let's confirm the time between organisers and then share the time with speakers.

I am free pretty much all of Monday/Tuesday, so I'll suggest Tuesday at 2pm BST unless there's an aversion to this? I say we set a time and then, if it doesn't work for anyone, I can pick up with them directly for a 1:1.

Once we confirm a time

[2020-06-19 12:05] admataz commented on #44
Thanks @phazonoverload  - Tuesday 2pm is fine with me - I will check with the speakers

[2020-06-22 07:43] phazonoverload commented on #44
Link for this meet-up on Wednesday: https://live.remo.co/e/lnug-meetup-june

[2020-06-24 12:33] admataz commented on #44
@lnug/organisers  - who's going to be joining us tonight? can you give us a 👋  in the Gitter channel when you arrive and keep an eye on the ongoing chats in Remo

See you later!

[2020-12-08 23:27] #34 closed, assigned to nobody

[2020-12-08 23:27] #38 closed, assigned to nobody

[2020-12-08 23:27] #44 closed, assigned to nobody

[2021-04-30 11:41] overlookmotel opened #45 "Return of the Jedi?"
With the world (well UK anyway) awaking from its slumbers, I wonder if any plans afoot to start doing in person meet-ups again?

My personal view is that the summer and early autumn will likely be pretty free of Covid and restrictions, though who knows what will happen in winter. If the worst does happen and we end up locked up again in the winter months, I think it'd be really nice to have some i

[2021-04-30 14:17] Ankcorn commented on #45
Hey! 👋

Hope you are well. We haven't discussed anything yet. We did vaguely attempt to get a discord going as a discussion room for lnug members https://discord.gg/pQfVmeRS its still quite quiet but if we get some momentum going it could be fun

Thank you so much for offering to do a talk. Livepack seems insanely interesting really looking forward to hearing about it.

In terms of events, I think

[2021-04-30 15:31] overlookmotel commented on #45
You mean outside as in outdoors? As it happens you are talking to exactly the right man. For 10 years I ran an outdoor cinema, so I know a certain amount about this, and still have all the gear - screens, projectors etc.

However... I'm afraid to say I don't think it's viable to have presentations if it's outdoors in height of summer. It's impossible to get a visible picture on a screen until afte

[2021-05-01 15:25] arakno commented on #45
Hi all, I'm glad the UK is finally waking up!
Unfortunately, the same impact cannot be felt in Ireland - where I  moved last year.

Anyways, just commenting on this " It's impossible to get a visible picture on a screen until after sunset using projection" @overlookmotel - thought you would like to know more about lusoscreen
https://www.lusoscreen.com/en/p-ag.htm

I am not endorsing anything here,

[2021-05-11 14:39] Ankcorn commented on #45
Haha it's good when my mad ideas can be tempered by someone with experience. Glad to know it would be challenging

https://www.cityprideclerkenwell.co.uk/ I have been to some meetups in this pub @overlookmotel. What do you think? The pizza is really good so I think it would keep all its LNUG charm.

[2022-04-25 11:08] lyndseysc opened #46 "LNUG summer/autumn in person meetup"
Hi 👋

I'm Lyndsey, I am a senior software engineer working at Beamery, a HR/Talent tech scale-up in London. I work with JS/TS/React/Node. In the past, I have been a speaker at ReactJS Girls London and am generally involved with the dev community on the teaching side with organisations like Code First Girls - have taught the intro to web dev course for 2 years.

I am looking to help arrange a first

[2022-04-25 13:48] Ankcorn commented on #46
Hey! 👋

Thank you so much for kicking off the discussion about re starting LNUG. This is so long overdue.

I have a sent out a tweet to see if we can drum up some assistance in organising the event.

One interesting source of speakers could be look through the back catalogue https://www.youtube.com/c/LNUGTeam/videos to see if we can find anyone who would like to speak again.

The venue looks amazi

[2022-04-25 14:27] lyndseysc commented on #46
👉 submit talks [here](https://github.com/lnug/speakers) !

[2022-04-25 15:17] admataz commented on #46
Hooray! 🎉 we are getting back!

Hi @lyndseysc and hello @Ankcorn !!  - it's been a long time!

Thanks @lyndseysc  for kicking this off.  I'm really glad people are coming forward to revive our in-person events. Personally, up to now I've not had the confidence to move forward with in person LNUG events - and  especially having just been through covid myself (having avoided it for 2-years), the 10

[2022-04-25 15:28] Ankcorn commented on #46
Hey @admataz it has been way too long.

I had covid not too long ago too, the brain fogg was horrible for me too. Took about 3 weeks to feel normal again. I would not be opposed to mask/social distancing guidelines but I know these are a controversial topic.

Agreed, when I first got involved I found it really helpful to look through the existing talk submissions to build up some confidence in sub

[2022-04-25 15:30] lyndseysc commented on #46
thanks @admataz !! sorry to hear about your covid experience - really keen to keep this as a hybrid to make sure people who can't or aren't able to come in-person for whatever reason aren't excluded.

updated the comment for talk submission :)

[2022-05-09 08:25] Ankcorn commented on #46
keen to keep the momentum up, shall we have a chat on zoom this week. I'm super busy the first half of this week but should be more relaxed thursday and friday. Any times on those days that suit?

[2022-05-09 08:30] lyndseysc commented on #46
Hey Thomas - great idea - Thursday would work well with me :)

[2022-05-11 07:39] simonmcmanus commented on #46
Hi @lyndseys,  thanks for getting things started again.  let me know if you need any help getting the website back up and running. I'm also happy to do a podcast in the run up or from the event.

[2022-05-11 07:48] admataz commented on #46
Hi all! sorry I've been off the grid - I had to duck back to the southern hemisphere to look after some urgent care requirements for my parents. I will try join a meeting when it happens - please let me know when...

[2022-05-30 16:05] lyndseysc commented on #46
hey @Ankcorn, no responses on Discord to join the call -  still good to go ahead and have a catchup this or next week?

[2022-05-30 16:26] Ankcorn commented on #46
Apologies I went a bit off grid on holiday :) Lets do it, I'm free when ever pretty much, happy to work around everyone.

[2022-07-27 10:34] lyndseysc commented on #46
Hey @Ankcorn 👋
apologies - holiday + catching COVID so I was equally off grid for most of June. Was waiting to see if there would be any submitted talks we could discuss, but noone yet :(

shall we have a call anyway, and see if we can try and rustle up some speakers in a different way?

[2022-07-27 10:52] Ankcorn commented on #46
Good to hear from you, I hope you are feeling better and covid was not too rough. I have some ideas for speakers. I will send out some DM's. I can do any evening or lunchtime this week for a call :)

[2022-07-27 12:03] lyndseysc commented on #46
Amazing, let's do thursday evening!

[2022-07-27 16:26] Ankcorn commented on #46
Is 5.30pm too early?

[2022-07-28 08:05] lyndseysc commented on #46
sweet! if you send me your email (can send on discord if you don't want to post publicly) will send a google meet invite :)

[2022-07-28 14:01] admataz commented on #46
hi @lyndseysc  - can you invite me too? adam@admataz.com

[2022-07-28 15:19] lyndseysc commented on #46
sent an invite to both ✌️

[2022-07-28 15:44] Ankcorn commented on #46
thomasankcorn@gmail.com! Thank you

[2022-07-30 21:15] admataz commented on #45
hey all - I'm cleaning up old issues and discussions on LNUG and closing old discussion like this one.  this sounded good at the time - and I think we are refreshing our efforts again - hopefully see you all soon

[2022-07-30 21:15] #45 closed, assigned to nobody

[2022-07-30 21:18] admataz commented on #39
I'm cleaning up old issues and closing old discussions like this - I still like some of these ideas discussed above - hopefully with our restart we can get to some of them.

[2022-07-30 21:18] #39 closed, assigned to nobody

[2022-08-16 16:04] lyndseysc commented on #46
Hey guys! Just following up on the speaker reach outs. Did you have any luck?

Also Beamery want to have a call just to go over the event space details and to get some info on expected attendee numbers, previous events etc. Would either/both of you be free for a 30 min meeting the week of 29th August for this?

[2022-08-25 17:01] admataz commented on #46
Hi @lyndseysc - sure - I can have a call next week to discuss. Afternoons are generally better for me...

[2022-08-25 17:28] connorlurring commented on #46
Hey folks, great to see this getting going again. Having not attended a LNUG meetup in-person, I was wondering what the target number of talks (or length of time covered by talks) for a meetup is. I'm keen to submit a talk, I just need to choose a topic!

If I can be helpful in any way organising or running the meetup, please let me know.

[2022-08-26 08:01] lyndseysc commented on #46
Hey Connor, delighted to hear that 🥳 We are looking for ~2 speakers for this meetup.
You can submit a talk here https://github.com/lnug/speakers - all the details are in the README :)

[2022-09-27 22:39] admataz opened #47 "LNUG #96 - 9th November 2022 - we're back!"
Here's our old event checklist, dusted off and pasted in.

As before - edit as necessary - and add your name to a task.

## Pre Event
- [x] Find/ confirm speakers! and add them as contributors to github
- [ ] Who will emcee this month?
- [x] Registration - this is all on Meetup now
- [ ] Website updates
- [x] videographer?
- [ ] Monthly Mailer (Mailchimp)
- [ ] confirm sponsorship arrangements
- [

[2022-10-03 09:58] Ankcorn commented on #47
Hey @lyndseysc, would you be interested in MCing? Happy to talk you through it and help with the slides

[2022-10-03 19:47] Ankcorn commented on #47
I can do ticket and door on the night, also happy to do website updates and the mailer :) I don't have access to mail chimp though @admataz

[2022-10-04 08:05] lyndseysc commented on #47
happy to MC :) we should have some volunteers from Beamery to help out at the door with you too!

[2022-10-05 19:35] admataz commented on #47
Hi @Ankcorn  - seems Mailchimp have changed their terms and no longer allow multiple seats on the free account :(  So I can't add you directly.

I will message you separately with the owner login

I see Boris' abstract is in - I can update the website now - I have it open here anyway

[2022-10-24 09:11] lyndseysc commented on #47
Hey both, two weeks to go!
I think all under control on our side.
I can send out email reminders to the people who have signed up to remind at two weeks/one week mark.
I think we are sitting at about 75 on the event atm. Can we do some more drumming up on the LNUG twitter? I will reach out to any other communities to cross-post it too.

[2022-10-26 13:37] lyndseysc commented on #47
Hey @admataz @Ankcorn , someone on the meetup has just mentioned that there is rail strikes on the 9th, which could cause a big problem :(
Beamery have suggested moving to the 10th or week after. Thoughts? Would have to check with both speakers.

[2022-10-26 14:14] lyndseysc commented on #47
There's tube strikes on the 10th too. I think it's looking best if we can delay it a different week

[2022-10-26 14:52] admataz commented on #47
Hey @lyndseysc - that is unfortunate. I'm happy to move it if we can get agreement from the speakers

[2022-10-26 15:08] admataz commented on #47
@lyndseysc  - can you confirm some potential dates from Beamery? I'm happy to discuss this with the speakers and put out an announcement. @Ankcorn  - any thoughts?

[2022-10-26 15:25] Ankcorn commented on #47
I'm pretty flexible 😊 happy to move it whenever.

[2022-10-27 09:38] lyndseysc commented on #47
Okay, the dates Beamery can do:

- Tuesday 22nd Nov
- 6th or 7th December

I will reach out to Simon to check availabilty, could you do the same for Boris @Ankcorn ? And let me know what you both think is best.

What a shame at the last minute 😓

[2022-10-27 10:52] Ankcorn commented on #47
Boris can do the December dates,

My worry is that it is sneaking into work Christmas party season, I know my works Christmas party is in the 7th. We might find that limits the success of the event

[2022-10-27 10:54] lyndseysc commented on #47
I had similar concerns... 😓
is the 22nd a no from him?

[2022-10-28 11:36] lyndseysc commented on #47
^ just a bump on this q @Ankcorn . Simon can do both, but 22nd would save us from xmas party season.

[2022-10-28 12:20] admataz commented on #47
Hi @Ankcorn and @lyndseysc  - personally not keen to move it to December for the same reasons. If it's a choice - I think I'd take my chances sticking with the rail strike day - given we are still getting signups for that day anyway (tubes are affected, but will be running). But if this is impossible from a Beamery perspective, we will obviously have to move it.

[2022-10-28 12:22] admataz commented on #47
I think 22nd would be good if Boris can make it.

[2022-10-29 09:02] Ankcorn commented on #47
Confirmed Boris can do the 22nd

🎉

[2022-10-29 18:45] lyndseysc commented on #47
Woo! Will send an email out with change of date :)

[2022-11-01 11:24] Ankcorn commented on #47
We also need to update the website and socials

I can do twitter, @admataz can you show me how to update the website? (would be good to get a little tour)

[2022-11-02 11:54] admataz commented on #47
Hey @Ankcorn  - happy to provide a tour - and it's a good chance to share this... will let you make the update.

Essentially - anything merged to the `main` branch in https://github.com/lnug/website/ will be built and deployed to the netlify hosted site.

It's all [11ty](https://www.11ty.dev) powered  - and I've kindof made it up as I went -  there's lots of scope for improvement.

I made use of t

[2022-11-02 11:55] Ankcorn commented on #47
Nice I should have time to do that this evening, if I run into an issue I will message you

[2022-11-10 11:03] admataz commented on #47
@lyndseysc - we are nearing 150 signups - which is the current limit in the meeting set up... any thoughts from Beamery on increasing capacity? In the past we get a lot of signups on the week before the event.

[2022-11-11 09:57] lyndseysc commented on #47
unfortunately a no for fire safety / capacity reasons :(
 I don't think meetup has any sort of waiting list unless I am missing it?
Will also send out a 1 week email next week and remind people to RSVP no if they aren't going, which might free up some space!

[2022-11-11 10:47] admataz commented on #47
Ok. Thanks. Meetup will switch to a waiting list when capacity is full.